<? require(ViewDir.'/header.html'); ?>
<script type="text/javascript" src="<?=StaticDir?>1.0/js/table-list.js?v=<?=$static_version?>"></script>
 <style type="text/css">
	a{color:#000;}
  </style>
<div class="yzc-sell-main">
<!--公用左边导航-->
<? require(ViewDir.'/left.html'); ?>

    <div class="sell-lf-main">
       <div class="comm-list-tit w-cont">
           <h3>我的商品</h3>
       </div>
       <div class="comm-search-bg">
	   <form name="seachForm" id="seachForm" action="/goods/index/" method="post">
               <div class="desi w-cont">
                   <label>商品名称</label>
                   <input type="text" class="cir" name="name" id="names" value="<?=$s['name']?>"/>
                   <a  class="cir sear-btn" id="seachbut">立刻搜索</a>
               </div>
	       <input type="hidden" name="status" value="<?=$s['status']?>">
	       <input type="hidden" name="size" value="<?=$size?>">

	    </form>

       </div>
       <div class="comm-list-mess">
           <div class="slideTxtBox">
               <div class="list-mess-top">
                   <div class="hd fl">
                       <ul>
			   <a href="/goods/index?status=1"><li <?if($s['status']==1) echo 'class="on"';?>>出售中</li></a>
			   <a href="/goods/index?status=2"><li <?if($s['status']==2) echo 'class="on"';?>>审核中</li></a>
			   <a href="/goods/index?status=3"><li <?if($s['status']==3) echo 'class="on"';?>>未通过</li></a>
			   <a href="/goods/index?status=4"><li <?if($s['status']==4) echo 'class="on"';?>>已失效</li></a>
		       </ul>
                   </div>
                   <div class="mess-top-dq fr">当前共有<label><?=$count?></label>条商品数据
                      <div class="pull-list paging">
                           <a class="cir all-tp-btn"><font id="size_income"><?=$size?></font><i class="fa fa-chevron-down"></i></a>
                           <ul class="all-tp-list" style="display: none;">
				<li>20</li>
				<li>40</li>
				<li>60</li>
                           </ul>
                      </div>

                   </div>
               </div>

               <div class="bd blk">
                   <div class="list-mess">
                      <table class="list-mess-main">
                          <thead>
                          <tr class="tbl-tit">
                            <th class="list-mess-pic-tit">商品图片</th>
			    <th>商品名称</th>
			    <th>提交时间</th>
			    <?if($s['status']==1 || $s['status']==2){
				echo "<th>期望获得收益</th>";
			    }else{
				if($s['status']==3){
				    echo "<th>驳回原因</th>";
				}else{
				    echo "<th>下架原因</th>";
				}
			    }
			    ?>
			    <?if($s['status']==1 || $s['status']==2){?>
				<th>操作</th>
			    <?}?>
                          </tr>
                          </thead>
                          <tbody class="list-mess">
			<? foreach ($list as $k => $v) {?>
                          <tr id="re-<?=$v['number']?>">
                              <td class="list-mess-pic">
                                  <a class="pic" <?if(!empty($v['tid'])){?> href="/d-<?=$v['tid']?>-<?=$v['class']?>.html" <?}?>target="_blank"><img src="<?=$v['pic']['embellish']?>"  onerror="this.src='/Static/1.0/images/img1.png'" width="90" height="60"></a>
                              </td>
                              <td><?=$v['name']?></td>
                              <td><?=date("Y-m-d H:i",$v['date'])?></td>
                              
			      <?if($s['status']==1 || $s['status']==2){
				    echo "<td class='pri-num'><span>".$v['price']."</span></td>";
				}else{
				    echo "<td>".$v['memo']."</td>";
				}
				?>
                              
				<?if($s['status']==1){?>
				  <td class="cg-price">
                                  <p class="price">
				      <a class="revise" data-number="<?=$v['number']?>">修改价格</a><label>|</label>
				      <a class="abo" data-number="<?=$v['number']?>" data-type="1">取消报价</a>
				  </p>
				  </td>
				  <?}elseif($s['status']==2){?>
				  <td class="cg-price">
				  <p class="price">
				      <a class="abo" data-number="<?=$v['number']?>" data-type="0">删除报价</a>
				  </p>
				  </td>
				<?}?>
                          </tr>
			   <? } ?>
                          </tbody>
                      </table>
                   </div>
               </div>
           </div>
           <div class="mj-pages">
	    <?=$pageBar?>
	    </div>
       </div>
    </div>
</div>
<!--取消报价弹窗-->
<div class="cancel-offer" id="cancel-offer" style="display: none;">
   <a class="layui-layer-ico layui-layer-close layui-layer-close2" href="javascript:;"></a>
   <div class="cancel-offer-ops">
       <h3>您确定取消该条报价？</h3>
       <label>点击确定将删除您的该条报价，请慎重选择。</label>
   </div>
    <div class="common-cpm-sub">
      <a class="cir sear-btn batch-pric layui-layer-close" id="cancel-price" data-number="0" data-type="0" href="javascript:;" >确定</a>
      <a class="cir qx-btn batch-del gb-cpm-btn layui-layer-close" href="javascript:;">关闭</a>
    </div>
</div>

<script type="text/javascript">
$(function(){
 //提交搜索   
 $("#seachbut").click(function(){
            var names  = $.trim( $("#names").val() );
            if (names === ''){
                layer.tips('请输入商标名称', $(this),{tips: [2, '#78BA32']});
                return false;
            }
            $("#seachForm").submit();
        });
	
	//取消报价
	 $("#cancel-price").click(function(){
            var number = $(this).data("number");
	    var type = $(this).data("type");
	    ajaxsubmit("cancelPrice",number,0,1,type);
        });
	
	//每页大小改变
        $('.mess-top-dq li').click(function(){
            var size = $.trim($('#size_income').text());
	    $("input[name=size]").val(size);
	    $("#seachForm").submit();
        });
});
//table切换
//jQuery(".slideTxtBox").slide({effect:"fold",trigger:"click"});
//商品列表修改价格
var ylnr;
var cgval
$(".revise").live("click",function(){
    var number = $(this).data("number");
    $(this).html('确定');
    $(this).siblings("label").hide();
    $(this).parent().css({"marginLeft":"18px"});
    $(this).siblings("a").html('取消');
    $(this).siblings("a").addClass("cir qx-btn qx");
    $(this).siblings("a").attr("index","2");
    $(this).addClass("cir sear-btn srue");
    $(this).removeClass("revise");
    $(this).siblings("a").removeClass("abo");
    ylnr=$.trim($(this).parent().parent().prev("td").find("span").text());
    $(this).parent().parent().prev("td").html('<input type="text" class="cg-pir n-'+number+'" value="" />');
    $(".cg-pir").val(ylnr);
})
$(".srue").live("click",function(){
    cgval=$(".cg-pir").val();
    var number = $(this).data("number");
    var price = $(".n-"+number).val();
    if(price<=0 || isNaN(price)){
	layer.msg('请填写正确的金额', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
	return false;
    }
    $(this).parent().parent().prev("td").html('<span>'+cgval+'</span>');
    $(this).html('修改价格');
    $(this).addClass("revise");
    $(this).siblings("label").show();
    $(this).removeClass("cir sear-btn srue");
    $(this).siblings("a").html('取消报价');
    $(this).siblings("a").removeClass("cir qx-btn qx");
    $(this).parent().css({"marginLeft":"-10px"});
    $(this).siblings("a").attr("index","1");
    ajaxsubmit("updatePrice",number,price,0,0);
});

var judin;
$(".abo").attr("index","1");
$(".abo").on("click",function(){
    var number = $(this).data("number");
    var type = $(this).data("type");
    $("#cancel-price").data("number",number);
    $("#cancel-price").data("type",type);
    judin=$(this).attr("index");
    if(judin==1){
        layer.open({
            type: 1,
            title: false,
            closeBtn:0,
            shadeClose:false, //开启遮罩关闭
            content:$("#cancel-offer")
        })
    }
    else{
        $(this).parent().parent().prev("td").html('<span>'+ylnr+'</span>');
        $(this).html('取消报价');
        $(this).parent().css({"marginLeft":"-10px"});
        $(this).siblings("label").show();
        $(this).removeClass("cir qx-btn qx");
        $(this).siblings("a").html('修改价格');
        $(this).siblings("a").addClass("revise");
        $(this).siblings("a").removeClass("cir sear-btn srue");
        $(this).attr("index","1");
    }
});
  function ajaxsubmit(action,number,price,del,type){
      if(price<=0 && del==0){
	  layer.msg('请填写正确的金额', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
	    return;
      }
        $.ajax({
            type : 'post',
            url  : '/goods/'+action+'/',
            data : {'number':number,'price':price,'type':type},
            dataType : 'json',
            success : function (data){
                if (data.code==999){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
			if(del==1){
			    $("#re-"+number).remove();
			}
                        
                    });
                }else if(data.code==3){
		    layer.msg('操作失败，每天最多能取消报价20条', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
		}else{
                    layer.msg('操作失败，请确认数据是否正确。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请检查您输入的内容是否正确后重新尝试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
</script>
<? require(ViewDir.'/footer.html'); ?>