/*�ҵĹ���-��ϸ����ҳ*/
.mj-right {
    width: 948px;
    margin-bottom: 10px;
}
.secTitle {
    position: relative;
    padding-left: 30px;
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    color: #515567;
    font-weight: normal;
    border-bottom: solid 1px #e5edf2;
}
.secTitle label {
    position: absolute;
    width: 68px;
    height: 58px;
    right: 0;
    top: 0;
    text-align: center;
    border-left: solid 1px #e5edf2;
    cursor: pointer;
}
.bgw{
    background: #fff;
}
.mj-manDet_main{
    padding-bottom: 20px;
    min-height: 568px;
    background: #fff;
    border: solid 1px #e5edf2;
    overflow: hidden;
}
.seH70{
    height: 68px;
    line-height: 68px;
}
.seH70 label{
    height: 68px;
}
.g-fs{
    float: left;
    border-bottom: none;
}
.g-fw{
    float: right;
}
.g-fw a{
    display: inline-block;
    float: right;
    width: 111px;
    height: 40px;
    color: #fff;
    background: #0fce9f;
    margin: 15px 30px 0 0;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
.g-fw a i{
    color: #87e7cf;
    font-style: normal;
    font-size: 27px;
    float: left;
    margin:-2px -14px 0 15px;
}
.mj-manD_title{
    position: relative;
    padding-left: 30px;
    height: 48px;
    background: #f3f7fa;
    line-height: 48px;
    font-size: 16px;
    color: #515567;
    font-weight: normal;
}

.mj-basInf{
    height: 68px;
    background: #fff;
    border-top: solid 1px #e5edf2;
    border-bottom: solid 1px #e5edf2;
}
.mj-biLeft{
    float: left;
    display: block;
    margin-right: 40px;
    width: 130px;
    height: 68px;
    text-align: center;
    line-height: 68px;
    font-size: 14px;
    color: #94969e;
    border-right: solid 1px #e5edf2;
}
.mj-biRight{
    padding-top: 10px;
}
.mj-biRight p{
    font-size: 14px;
    color: #94969e;
    line-height: 25px;
}
.mj-biRight p span{
    color: #515567;
}
.mj-biRight p em{
    color: #ff9d1f;
}
.mj-manD_table{
    width: 100%;
    background: #fff;
}
.mj-manD_table caption{
    padding-left: 175px;
    height: 68px;
    background: #fff;
    font-size: 30px;
    color: #ff9d1f;
    text-align: left;
    line-height: 68px;
    border-top: solid 1px #e5edf2;
    border-bottom: solid 1px #e5edf2;
}
.mj-manD_table td{
    position: relative;
    height: 48px;
    font-size: 14px;
    color: #94969e;
    border-bottom: solid 1px #e5edf2;
}
.tdst{
    width: 130px;
    height: 68px;
    text-align: center;
    border-right: solid 1px #e5edf2;
    background: #f2f2f2;
}
.mj-manD_table td.pl40{
    padding-left: 40px;
    color: #515567;
}
.mj-manD_table td.pl41{
    border-right:solid 1px #e5edf2;
}
.mj-tdSearch{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 14px;
    color: #007ece;
}

.mj-popBrand{
    margin: 10px 0;
    background: #fff;
    border: solid 1px #e5edf2;
}
.mj-hotList{
    padding: 30px 0;
}
.mj-hotList li{
    position: relative;
    float: left;
    margin-left: 30px;
    width: 120px;
    height: 120px;
    background: #eee;
}
.mj-hotList li>a{
    display: block;
    margin-top: 22px;
    width: 120px;
    height: 75px;
    text-align: center;
    line-height: 75px;
}
.mj-hotList li>a img{
    max-width: 120px;
    max-height: 75px;
    vertical-align: middle;
}
.mj-tip{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 60;
}
.mj-tip label{
    display: inline-block;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    font-size: 12px;
}
.cOrange{
    background: #ff9d1f;
}
.cBlue{
    background: #00a4d8;
}
.mj-hotList li:hover .mj-textTips{
    display: block;
}
.mj-textTips {
    display: none;
    position: absolute;
    width: 120px;
    height: 22px;
    background: url(img/img9.png) repeat-x;
    bottom: 0;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    z-index: 5;
}


/*�ҵĹ��� �ҵ����� ��ϸ����*/
.mj-stbg{
    height: 98px;
    background: #fff;
    overflow: hidden;
    border-bottom: solid 1px #e5edf2;
}
.mj-stripes{
    position: relative;
    margin: 38px 0 0 255px;
    width: 440px;
    border-top: solid 1px #e5edf2;
}
.mj-stBg{
    position: absolute;
    top: -20px;
    width: 43px;
    text-align: center;
}
.mj-stBg p{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
}
.bgO p{
    background: #ff9d1f;
}
.bgO span{
    font-size: 14px;
    color: #ff9d1f;
}
.bgG p{
    background: #ddd;
}
.bgG span{
    font-size: 14px;
    color: #94969e;
}
.posA1{
    left: -15px;
}
.posA2{
    left: 200px;
}
.posA3{
    right: -20px;
}
.bts{
    border-top: solid 1px #e5edf2;
}
.g-bts td{
    padding: 10px 0;
}
.mj-downloadL{
    position: absolute;
    right: 30px;
    font-size: 14px;
    color: #007ece;
}


/*�ҵ��̱�*/
.mj-trademark_top{
    background: #fff;
}
.mj-traTab{
    border-bottom: solid 1px #e5edf2;
}
.mj-traTab li{
    float: left;
    width: 158px;
    height: 48px;
    border-right: solid 1px #e5edf2;
}
.mj-traTab li a{
    display: block;
    width: 158px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #94969e;
}
.mj-traTab li.on{}
.mj-traTab li.on a{
    height: 49px;
    color: #515567;
    background: #fff;
}

.trademark_select {
    padding: 8px 0 10px 30px;
    position: relative;
    z-index: 1;
    border-bottom: solid 1px #e5edf2;
}
.bbd{
    border-bottom: dashed 1px #e5edf2;
}

.trademark_select .trademark_select_tit {
    float: left;
    width: 85px;
    color: #94969e;
    text-align: right;
    font-size: 14px;
}
.trademark_select .trademark_select_item1 {
    height: 28px;
    overflow: hidden;
}
.trademark_select .trademark_select_item {
    width: 660px;
    margin-left: 77px;
}
.trademark_select .trademark_select_mag {
    position: absolute;
    display: block;
    width: 80px;
    height: 22px;
    background: #0fce9f;
    text-align: center;
    line-height: 22px;
    z-index: 1;
    right: 80px;
    top: 12px;
    color: #fff;
    border-radius: 2px;
}
.trademark_select .trademark_select_more {
    position: absolute;
    display: block;
    padding-right: 5px;
    width: 45px;
    height: 22px;
    z-index: 1;
    right: 20px;
    top: 12px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    border-radius: 2px;
    background: #596081 url("img/img10.png") no-repeat 38px;
}
.trademark_select .trademark_select_up {
    background: #596081 url("img/img11.png") no-repeat 38px;
}
.trademark_select .trademark_select_item .cur {
    color: #fff;
    background: #ff9d1f;
}
.trademark_select .trademark_select_item .null {
    color: #999;
}
.trademark_select .trademark_select_item a {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 2px 4px;
    color: #515567;
    font-size: 14px;
    border-radius: 2px;
}
.trademark_select  div.cog a{
    color: #94969e;
}

.trademark_sort .trademark_sort_up {
    display: block;
    float: left;
    margin-left: 18px;
    background: #fff;
    color: #515567;
    border: 1px solid #ddd;
    width: 138px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    margin-right: 15px;
}
.trademark_sort .ul-input-text {
    float: left;
    width: 198px;
    position: relative;
    z-index: 1;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 60px;
}
.trademark_sort .g-ul-text{
    margin-right: 20px;
    width: 150px;
}
.ul-input-text {
    height: 38px;
    padding: 0 10px;
}
.ul-input-text span {
    position: absolute;
    z-index: 1;
    line-height: 38px;
    color: #838383;
}
.ul-input-text input {
    outline: none;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 11px;
    right: 0;
    border: 0;
    background: url(' ');
}
.trademark_sort .ul-input-text label {
    position: absolute;
    z-index: 1;
    right: -95px;
    top: -1px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
}
.ul-input-submit {
    float: left;
    background: #596081;
    text-align: center;
    cursor: pointer;

    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}
.trademark_sort .ul-input-text label button {
    /*margin-top: 8px;*/
}
.trademark_sort .ul-input-text label button img{
    vertical-align: middle;
}
.ul-input-submit input, .ul-input-submit button {
    border: 0;
    background: none;
    outline: none;
    display: inline-block;
}
.trademark_sort .trademark_sort_out {
    float: right;
    margin-right: 18px;
    color: #007ece;
    border: 1px solid #c7dcea;
    background: #fff;
    width: 98px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin-top: 5px;
    border-radius: 2px;
}
.trademark_list {
    text-align: center;
    font-size: 14px;
    color: #94969e;
}
.trademark_sort .trademark_sort_txt {
    float: right;
    text-align: center;
    color: #94969e;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 8px;
}
.trademark_sort .trademark_sort_txt span {
    color: #515567;
    line-height: 28px;
}
.trademark_sort{
    background: #f3f7fa;
    padding: 15px 0;
}
.trademark_list {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    color: #94969e;
}
.g-sort{
    background: #fff;
}
.trademark_list .cur td {
    background: #fffff2;
}
.trademark_list tr:hover{
    background: #f3f7fa;
}
.trademark_list tr.cur:hover td {
    background: #f3f7fa;
}
.trademark_list td {
    padding: 7px 0;

}
.trademark_list tr{
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
}
.trademark_list .trademark_list_img {
    display: inline-block;
    border: 1px solid #e3e3e3;
    position: relative;
    z-index: 1;
    width: 120px;
    height: 120px;
    background: #eee;
    text-align: center;
    line-height: 120px;
}
.trademark_list .trademark_list_img .new {
    position: absolute;
    display: block;
    z-index: 1;
    left: -1px;
    top: -1px;
    width: 46px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    font-size: 12px;
}
.bggren{
    background: #0fce9f;
}
.bgor{
    background: #ff9d1f;
}
.trademark_list .trademark_list_img .img {
    max-width: 120px;
    max-height: 120px;
    vertical-align: middle;
}
.trademark_list .n1, .trademark_list .n2, .trademark_list .n3, .trademark_list .n4 {
    padding-left: 20px;
    line-height: 25px;
    text-align: left;
}
.trademark_list .n1{
    height: 49px;
    line-height: 49px;
}
.tdbor{
    border-right: solid 1px #e5edf2;
}
.trademark_list .n1 b{
    padding-right: 15px;
    font-size: 20px;
    color: #007ece;
    font-weight: normal;
}
.trademark_list .n2 a {
    color: #007ece;
}
.trademark_list strong {
    font-size: 14px;
    font-weight: 400;
   /*  cursor: pointer; */
}
.trademark_list .n3 em,.trademark_list .n4 em {
    color: #515567;
}
.trademark_list .trademark_list_bd {
    text-align: center;
}
.trademark_list .trademark_list_cs {
    display: inline-block;
    background: #fff;
    width: 98px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 2px;
    margin-bottom: 15px;
}
.colo{
    color: #ff9d1f;
    border: 1px solid #efd8bb;
}
.colb{
    color: #007ece;
    border: 1px solid #c7dcea;
}
.trademark_list .trademark_list_tag {
    display: inline-block;
    float: right;
    margin-right: 20px;
    color: #357fcc;
}
.trademark_list .n4 em span{
    color: #cecece;
}
.g-on{
    display: inline-block;
    border: 1px solid #c7dcea;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #f3f7fa;
    text-align: center;
    color: #3d9cd9;
}
.trademark_list .n4 em .mj-des{
    color: #eb5152;
}


/*���¶�̬�仯*/
.mj-tipsEm{
    position: absolute;
    right: -316px;
    top: 10px;
    font-size: 12px;
    color: #ff9d1f;
}
.ml20{
    margin-left: 20px;
}
.mj-mTabs{
    width: 100%;
    background: #fff;
}
.mj-mTabs tr{
    border: solid 1px #e5edf2;
}
.mj-mTabs td{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #515567;

}
.mj-mTabs td>a{
    color: #007ece;
    margin-left: 10px;
}
.mj-serviceBtn{
    position: absolute;
    display: block;
    width: 110px;
    height: 40px;
    right: -235px;
    top: 0;
    background: #ff9d1f;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
}


/*�ҵ�����*/
.mj-dateList{
    height: 68px;
    background: #fff;
    overflow: hidden;
    line-height: 68px;
    border-bottom: solid 1px #e5edf2;
}
.mj-dateList label{
    padding: 0 10px;
    font-size: 14px;
    color: #515567;
}
.mj-dateList select,.trademark_sort select{
    padding-left: 15px;
    width: 198px;
    height: 38px;
    border: solid 1px #ddd;
    color: #515567;
    outline: none;
}
.mj-dateList input{
    padding-left: 15px;
    width: 123px;
    height: 38px;
    border: solid 1px #ddd;
    outline: none;
    line-height: 38px;
    color: #515567;
}
.mj-dateList span{
    position: relative;
}
.mj-dateList span i{
    position: absolute;
    right: 0;
    top: 0;
}
.mj-demandBtn{
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 40px;
    background: #596081;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}
.mj-demTab{
    width: 100%;
    background: #fff;
}
.mj-demTab thead tr{
    background: #f3f7fa;
}
.mj-demTab tr{
    border: solid 1px #e5edf2;
    border-left: none;
    border-right: none;
}
.mj-demTab td{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    color: #515567;
}
.mj-demTab td>a{
    color: #007ece;
}
.mj-demTab td em{
    color: #eb5152;
}
.g-run{
    width: 482px;
    background: #fff;
}
.g-close{
    background: url(img/img5.jpg) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    margin: 20px;
}
.g-run_nav{
    padding: 0 30px 50px 30px;
}
.g-run_nav h4{
    font-size: 20px;
    color: #515567;
    text-align: center;
    font-weight: normal;
    margin-bottom: 27px;
}
.g-run_nav h4 i{
    color: #eb5152;
    font-style: normal;
}
.g-run_input{
    color: #515567;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.g-run_input span{
    display: inline-block;
    margin-right: 35px;
}
.g-run_input span input{
    float: left;
    margin-top:5px;
    margin-right: 5px;
}
.g-run_board p{
    color: #515567;
    font-size: 16px;
    margin-bottom: 7px;
}
.g-run_board_input{
    margin-bottom: 9px;
}
.g-run_board_input input{
    width: 406px;
    height: 50px;
    line-height: 50px\9;
    border:1px solid #dddddd;
    padding-left: 14px;
    font-size: 14px;
}
.g-run_board_dj input{
    width: 300px;
    margin-right: 13px;
    float: left;
}
.g-run_board_dj select{
    width: 87px;
    height: 50px;
    border: 1px solid #dddddd;
    font-size: 14px;
    padding-left: 13px;
    color: #94969e;
    float: right;
    line-height: 50px\9;
}
.g-run_a a{
    color: #fff;
    display: block;
    background: #ff9d1f;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius:3px;
    margin-top: 20px;
}
.g-run_board_span{
    color: #ff9d1f;
    text-align: center;
    display: block;
    margin-top: 25px;
}
.trademark_select .g-select_item{
    margin-left: 0;
    position: relative;
}
.g-span_ti{
    display: block;
    float:none;
    margin-top: 10px;
}
.g-bwf .g-span_mt{
    display: none;
}
.g-bwf:hover .g-span_mt{
     display: inline-block;
}
.g-bwf:hover .g-on{
    background: none;
    border: 0 none;
}
.g-s70{
    float: left;
    border-bottom:0 none;
}
.g-s70_div{
    border-bottom: solid 1px #e5edf2;
}
.g-my a i{
    color: #ffbd68;
    font-size: 18px;
    margin-top: 0;
}
.g-my a{
    background: #ff9d1f;
}




