.mj-content{
    background: #f5f5f5;
    padding-top: 22px;
    clear: both;
}
.mj-content_title{
    padding-bottom: 14px;
}
.mj-content_title span{
    font-size: 12px;
    color: #666;
}
.mj-content_title span em{
    color: #b7b7b7;
}
.mj-content_title a{
    color: #666;
}
.mj-mainCon{

}


.mj-mybRight{
    padding: 0 30px 20px;
    width: 825px;
    height: 766px;
    background: #fff;
}
.mj-padaT{
    padding: 40px 0 10px 0;
    font-size: 16px;
    color: #666;
    border-bottom: solid 1px #e0e0e0;
}


.mj-phseT{
    padding: 65px 32px 85px;
}
.mj-phseL{
    position: relative;
    width: 273px;
    border-top: solid 1px #919191;
}
.mj-phselText{
    position: absolute;
    top: -10px;
    left: 160px;
    width: 65px;
    text-align: center;
}
.mj-phselText p{
    padding-bottom: 10px;
    width: 65px;
    text-align: center;
}
.mj-phselText p label{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #ff6700;
    border-radius: 50%;
}
.mj-phselText span{
    font-size: 12px;
    color: #ff6700;
}

.mj-phseR{
    position: relative;
    width: 488px;
    border-top: dashed 1px #c2c2c2;
}

.mj-phserText{
    position: absolute;
    top: -12px;
    right: 158px;
    width: 65px;
    text-align: center;
}

.mj-phserText p{
    padding-bottom: 10px;
    width: 65px;
    text-align: center;
}
.mj-phserText p label{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #919191;
    border-radius: 50%;
}
.mj-phserText span{
    font-size: 12px;
    color: #666;
}
.mj-ulform{
    margin-left: 240px;
}
.mj-ulform li{
    margin-bottom: 17px;
}
.mj-ulform li>label{
    float: left;
    display: block;
    width: 37px;
    line-height: 33px;
    margin-right: 25px;
    vertical-align: middle;
}
.mj-liInput{
    float: left;
    position: relative;
    margin-right: 10px;
    padding-left: 13px;
    width: 239px;
    height: 33px;
    line-height: 33px;
    border: solid 1px #abadb3;
}
.mj-liInput .mj-inpuV{
    line-height: 33px;
    color: #bbb;
    font-size: 12px;
}
.mj-liInput input{
    position: absolute;
    left: 13px;
    height: 33px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAABBCAYAAAAt36+DAAAACXBI¡­BqVQqlUqlUqlUKpVKpVKpVCqVSqVSqVQq/TB9AAAA//8DAG4xA3+Ev9g4AAAAAElFTkSuQmCC');
    line-height: 33px\9;
    width: 239px;
    vertical-align: middle;
    z-index: 2;
    border: none;
    outline: none;
}
.mj-ulform li>p{
    line-height: 35px;
    color: #ff3833;
}

.mj-sent{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 95px;
    height: 33px;
    background: #deffd4;
    text-align: center;
    line-height: 33px;
    font-size: 12px;
    color: #4e9b37;
    font-weight: normal;
    cursor: pointer;
    z-index: 5;
}
.mj-ulform li>a{
    display: inline-block;
    margin-left: 62px;
    width: 255px;
    height: 35px;
    background: #ff6700;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 35px;
}
