.chofn-flex{
    float: none;
    width: 100%;
}
.chofn-flex .chofn-flex_monitor .chofn-flex_monitor_img{
    margin-left: 0;
}
.chofn-flex .chofn-flex_monitor .chofn-flex_monitor_msg{
    margin-left: 164px;
}
.business-details{
    color: #444;
    margin-bottom: 30px;
}
.business-details dt{
    line-height: 40px;
    background: #f5f5f5;
    text-indent: 15px;
}
.business-details dd{
    line-height: 54px;
    border-bottom: 1px solid #ececec;
    text-indent: 20px;
    position: relative;
    z-index: 1;
}
.business-details dd a{
    color: #444;
}
.business-details .business-details_search,
.business-details .business-details_dm{
    position: absolute;
    right: 40px;
    top: 7px;
}
.business-details .business-details_dm{
    right: 12px;
}
/* 扫一扫 */
.business-details-app{
    background: url("img/l-25.png") no-repeat;
    width: 318px;
    height: 138px;
    margin: 80px auto 50px;
}
.business-details-app .appimg{
    float: left;
    margin-top: 20px;
    margin-left: 35px;
}
.business-details-app div span,
.business-details-app div strong{
    display: block;
    color: #333333;
    font-weight: 400;
    line-height: 22px;
}
.business-details-app div{
    margin-left: 160px;
    padding-top: 27px;
}
.business-details-app div span{
    font-size: 14px;
}
.business-details-app div strong{
    font-size: 16px;
}
.business-details-app div a{
    display: inline-block;
    margin-top: 10px;
}
/*图片弹出层*/
.mj-imgModl{
    display: none;
    width: 700px;
    position: relative;
    padding: 55px 10px 10px;
    background: #fff;
    text-align: center;
}
.mj-imgModl label{
    display: block;
    width: 700px;
    height: 500px;
    background: #fff;
    text-align: center;
    overflow: auto;
}
.mj-imgModl img{
    max-width: 680px;
    vertical-align: middle;
}