<? require(ViewDir.'/header.html'); ?>
<div class="yzc-sell-main">
<!--公用左边导航-->
<? require(ViewDir.'/left.html'); ?>

    <!--右边主要内容-->
    <div class="sell-lf-main">
        <div class="top-bg">
            <div class="sell-per-top">
                <div class="sell-news hint-bg cir">
                    <p>欢迎你加入一只蝉出售者平台，点我可以了解到使用说明，另外还送你10个蚕豆噢！</p>
                    <i class="sell-ico ico-bg5 skewer"></i>
                </div>
                <div class="sell-per-mess">
                    <div class="sell-per-head fl">
                        <i class="fl">
                            <img src="<?=StaticDir?>1.0/images/sell-head.png">
                        </i>
                        <div class="head-mess fl">
                            <h3>您好，罗骁驿！</h3>
                            <p class="name">账户名： jakees@gmail.com<a href="" class=""><img src="<?=StaticDir?>1.0/images/sell-mess.png"></a><a href="" class=""><img src="<?=StaticDir?>1.0/images/sell-phon.png"></a></p>
                            <p class="teg"><span class="hint-bg cir">我的蝉豆：56</span><a href="">用蝉豆兑换奖励</a></p>
                        </div>
                    </div>
                    <div class="sell-comm-sub fr">
                        <label>提交商品，获取收益</label>
                        <a class="sub-btn cir">
                            提交商品
                        </a>
                        <p><a href="">商标号</a>|<a href="">申请人</a> |<a href="">文档</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sell-per-mdl">
            <div class="sell-my-comm fl">
                <h3 class="sell-tit">我的商品</h3>
                <ul>
                    <li>
                        <div class="sell-state1">

                        </div>
                        <p><b>审核中</b><span class="sell-infor cir">25</span></p>
                    </li>
                    <li>
                        <div class="sell-state2">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                    <li>
                        <div class="sell-state3">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                    <li>
                        <div class="sell-state4">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                </ul>
            </div>
            <div class="sell-my-earn fr">
                <div class="my-earn-top ">
                    <h3 class="sell-tit fl">最近收益</h3>
                    <p class="fr"><a>查看历史收益明细</a><i><img src="<?=StaticDir?>1.0/images/sell-sf.png"></i></p>
                </div>
                <div class="my-earn-show ">
                    <p>
                        <label>最近一个月收益</label><br/>
                        <b>381711</b>元
                    </p>
                </div>

            </div>
        </div>
        <div class="sell-per-btm ">
            <div class="sell-earn-mess fl ">
                <div class="my-earn-top ">
                    <h3 class="sell-tit fl">最新通知</h3>
                    <a class="fr">全部通知</a>
                </div>
                <ul class="">
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                </ul>
            </div>
            <div class="sell-data-mess fr">
                <h3 class="sell-tit">数据分享</h3>
                <div class="sell-data-main">
                    <p>最近一个月用户热搜词：</p>
                    <div class="hot-ch">
                        <span class="cir">人工智能</span><span class="cir">人工智能</span><span class="cir">人工智能</span><span class="cir">人工智能</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<? require(ViewDir.'/footer.html'); ?>
