<? require(ViewDir.'/header.html'); ?>
  <script src="<?=StaticDir?>/avatar/js/jquery.Jcrop.js?v=<?=$static_version?>" type="text/javascript"></script>
  <script src="<?=StaticDir?>script/jquery.form.js?v=<?=$static_version?>"></script>
  <link rel="stylesheet" href="<?=StaticDir?>/avatar/css/jquery.Jcrop.css?v=<?=$static_version?>" type="text/css" />
<div class="yzc-sell-main">
<!--公用左边导航-->
<? require(ViewDir.'/left.html'); ?>
    <!--右边主要内容-->
    <div class="sell-lf-main">
        <div class="top-bg">
            <div class="sell-per-top">
                <div class="sell-news hint-bg cir">
                    <p>欢迎你加入一只蝉出售者平台，点我可以了解到使用说明，另外还送你10个蚕豆噢！</p>
                    <i class="sell-ico ts-ico-bg5 skewer"></i>
                </div>
                <div class="sell-per-mess">
                    <div class="sell-per-head fl">
                        <i class="fl">
                            <img src="<?=$photo?>" id="set_avatar">
                        </i>
                        <div class="head-mess fl">
                            <h3>您好，<?=$nickname?>！</h3>
                            <p class="name">账户名： <?=$userMobile?><a href="" class=""><img src="<?=StaticDir?>1.0/images/sell-mess.png"></a><a href="" class=""><img src="<?=StaticDir?>1.0/images/sell-phon.png"></a></p>
                            <p class="teg"><span class="hint-bg cir">我的蝉豆：56</span><a href="">用蝉豆兑换奖励</a></p>
                        </div>
                    </div>
                    <div class="sell-comm-sub fr">
                        <label>提交商品，获取收益</label>
                        <a class="sub-btn cir">
                            提交商品
                        </a>
                        <p><a href="">商标号</a>|<a href="">申请人</a> |<a href="">文档</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sell-per-mdl">
            <div class="sell-my-comm fl">
                <h3 class="sell-tit">我的商品</h3>
                <ul>
                    <li>
                        <div class="sell-state1">

                        </div>
                        <p><b>审核中</b><span class="sell-infor cir">25</span></p>
                    </li>
                    <li>
                        <div class="sell-state2">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                    <li>
                        <div class="sell-state3">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                    <li>
                        <div class="sell-state4">

                        </div>
                        <p><b>审核中</b></p>
                    </li>
                </ul>
            </div>
            <div class="sell-my-earn fr">
                <div class="my-earn-top ">
                    <h3 class="sell-tit fl">最近收益</h3>
                    <p class="fr"><a>查看历史收益明细</a><i><img src="<?=StaticDir?>1.0/images/sell-sf.png"></i></p>
                </div>
                <div class="my-earn-show ">
                    <p>
                        <label>最近一个月收益</label><br/>
                        <b>381711</b>元
                    </p>
                </div>

            </div>
        </div>
        <div class="sell-per-btm ">
            <div class="sell-earn-mess fl ">
                <div class="my-earn-top ">
                    <h3 class="sell-tit fl">最新通知</h3>
                    <a class="fr">全部通知</a>
                </div>
                <ul class="">
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                    <li>
                        <p class="fl"><a>欢迎你啊，新用户，来看看我有什么话对你说吧</a></p>
                        <label class="fr">2016-05-30 12：23</label>
                    </li>
                </ul>
            </div>
            <div class="sell-data-mess fr">
                <h3 class="sell-tit">数据分享</h3>
                <div class="sell-data-main">
                    <p>最近一个月用户热搜词：</p>
                    <div class="hot-ch">
                        <span class="cir">人工智能</span><span class="cir">人工智能</span><span class="cir">人工智能</span><span class="cir">人工智能</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
  
<!--设置头像-->
<div class="price-cpm common-cpm-sty" id="avatar-cont-main">
    <div class="common-cpm-top">
        <h3>设置头像</h3>
    </div>
    <div class="common-cpm-cent">
       <form id='bzformupload' action='/index/ajaxUploadPic/' method='post' enctype='multipart/form-data'>
	    <div class="bzform pics" id="bzform">
		<input type="button" value="上传头像" id="bzpic" class="info-pic" onclick="bzfile.click();" >
		<input type="hidden" name="size" value="500" style="display: none;"/>
		<input type="file" id="bzfile" onchange="uplouadPic()" name="fileName" style="display: none;"/>
	    </div>
	</form>
	<div style="float:left;"><img id="target"  src="<?=$photo?>" style="display:block"></div>
	<div style="width:48px;height:48px;margin:10px;overflow:hidden; float:left;display: none;" class="hideimg"><img  style="float:left;" id="preview" src="<?=$photo?>" width="48" heigt="48" ></div>
	<div style="width:100px;height:100px;margin:10px;overflow:hidden; float:left;display: none;" class="hideimg"><img  style="float:left;" id="preview2" src="<?=$photo?>" width="100" heigt="100" ></div>
	<form action="/index/setAvatar/" method="post" onsubmit="return checkCoords();">
		<input type="hidden" id="x" name="x" />
		<input type="hidden" id="y" name="y" />
		<input type="hidden" id="w" name="w" />
		<input type="hidden" id="h" name="h" />
		<input type="hidden" name="path" value="<?=$photo?>" id="picPatch"/>
		<input type="submit" value="裁剪保存" style="display: none;" class="hideimg"/>
	</form>
    </div>
</div>

<script type="text/javascript">
     //剪切头像代码
    var jcrop_api, boundx, boundy;
    function updateCoords(c)
	{
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#w').val(c.w);
		$('#h').val(c.h);
	};
	function checkCoords()
	{
		if (parseInt($('#w').val())) return true;
		alert('Please select a crop region then press submit.');
		return false;
	};
      function updatePreview(c){
        if (parseInt(c.w) > 0)
        {
          var rx = 48 / c.w;		//小头像预览Div的大小
          var ry = 48 / c.h;

          $('#preview').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
          });
        }
	    {
          var rx = 109 / c.w;		//大头像预览Div的大小
          var ry = 109 / c.h;
          $('#preview2').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
          });
        }
      };
      
    //上传头像图片
    function uplouadPic(types){
	$("#bzformupload").ajaxSubmit({
	    dataType:  'json',
	    success: function(data) {
		if (data.code == 1){
		    $(".hideimg").show();
		    $('#picPatch').val(data.img);
		    $('#target').attr('src', data.img);
		    $('#preview').attr('src', data.img);
		    $('#preview2').attr('src', data.img);
		    $(".jcrop-holder img").attr('src', data.img);
		    $('#target').Jcrop({
			minSize: [48,48],
			setSelect: [0,0,100,100],
			onChange: updatePreview,
			onSelect: updatePreview,
			onSelect: updateCoords,
			aspectRatio: 1
		      },
			function(){
			// Use the API to get the real image size
			var bounds = this.getBounds();
			boundx = bounds[0];
			boundy = bounds[1];
			// Store the API in the jcrop_api variable
			jcrop_api = this;
		    });
		}else{
		    alert(data.msg);
		}
	    },
	    error:function(xhr){
		alert('图片格式不正确或图片过大，请重新上传！');
	    }
	});
    };
    
  //批量设置价格
    $("#set_avatar").on("click",function(){
            layer.open({
                type: 1,
                title: false,
                closeBtn:1,
                shadeClose:false,
                content:$("#avatar-cont-main")

            });
    })
  
    
      
      
	

</script>
<? require(ViewDir.'/footer.html'); ?>
