<? require(ViewDir.'/header.html'); ?>
<div class="yzc-sell-main">
    <!--左侧菜单-->
    <? require(ViewDir.'/left.html'); ?>
    <!--右侧主体部分-->
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3>修改密码</h3>
        </div>
        <div class="sell-cg-password  w-cont">
            <ul class="sell-cg-password-list f-hidden">
                <li>
                    <span>请输入当前密码</span>
                    <input type="password" class="sell-ip-box" id="old_pass"/>
                </li>
                <li>
                    <span>请输入新密码</span>
                    <input type="password" class="sell-ip-box" id="new_pass" value="6-20位数字,字母或符号" onfocus="this.value='';" onblur="this.value='6-20位数字,字母或符号'"/>
                </li>
                <li>
                    <span>再次输入新密码</span>
                    <input type="password" class="sell-ip-box" id="pre_pass" value="请保持2次输入一致" onfocus="this.value='';" onblur="this.value='请保持2次输入一致'"/>
                </li>
            </ul>
            <label class="sell-ts-blk" id="error_tip" style="display: none"></label>
            <div class="cg-password-btn">
                <a class="sub-btn cir fl" href="javascript:;" id="changepwd">
                    立刻修改
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        //提交修改
        $('#changepwd').click(function(){
            //得到新旧密码
            var new_pass = $('#new_pass').val();
            if(new_pass=='6-20位数字,字母或符号') new_pass = '';
            var old_pass = $('#old_pass').val();
            //验证旧密码
            var oldmess	= checkOld(old_pass);
            if(oldmess == false){ return false; }
            //验证新密码格式
            var pwd = checkPassword(new_pass,old_pass);
            if(pwd == false){ return false; }
            //验证两次密码是否一致
            var pre_pass = $('#pre_pass').val();
            if(pre_pass=='请保持2次输入一致') pre_pass = '';
            if(!pre_pass){
                error('您还有内容未填写，请完善后重新提交');
                return false;
            }
            if(new_pass!=pre_pass){
                error('您两次输入的密码不一致，请验证后重新输入');
                return false;
            }
            //提交修改
            $.ajax({
                type: "post",
                url: "/user/updatePwd/",
                async: true,
                data: {'old': old_pass,'new':new_pass},
                dataType: "json",
                success: function(data){
                    if (data.code == 1){
                        layer.msg('修改成功,请重新登录', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.href = data.url;
                        });
                    }else{
                        error(data.mess);
                        return false;
                    }
                }
            });
        });
        //输入框获取焦点隐藏提示
        $('#old_pass,#new_pass,#pre_pass').focus(function(){
            success();
        });
    });
    //验证旧密码是否正确
    function checkOld(pass){
        if(pass == ''){
            error('您还有内容未填写，请完善后重新提交');
            return false;
        }
        var flag = false;
        $.ajax({
            type: "post",
            url: "/user/checkPwd/",
            async: false,
            data: {'old': pass},
            dataType: "html",
            success: function(data){
                if (data == 1){
                    success();
                    flag = true;
                }else{
                    error('当前密码输入错误');
                }
            }
        });
        return flag;
    }
    //验证密码
    function checkPassword(passwordid,old_pass){
        var pregZW = /[\u4E00-\u9FA5]+/;//中文
        var pregKG = /\s+/g;//空格
        if(passwordid == ""){
            error('您还有内容未填写，请完善后重新提交');
            return false;
        }else if(passwordid.length>20 || passwordid.length<6 || pregKG.test(passwordid) || pregZW.test(passwordid)){
            error('密码格式错误，请验证后重新输入');
            return false;
        }else if(old_pass ==  passwordid){
            error('新密码不能跟旧密码一样！');
            return false;
        }else{
            success();
            return true;
        }
    }
    //错误
    function error(msg){
        $('#error_tip').text(msg).show();
    }
    //成功
    function success(){
        $('#error_tip').text('').hide();
    }
</script>
<? require(ViewDir.'/footer.html'); ?>