<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/sell-common.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="yzc-sell-main">
<div class="sell-lf-main">
<div class="comm-list-tit w-cont">
    <div>
        <h3 class="fl">我的商品</h3>
        <a class="fr">返回</a>
    </div>
</div>
<section class="wrapper wrapper tab-container">
    <div class="row" style="height:100%; min-height:550px;" id="password_div">
        <div class="col-xs-12">
            <section class="panel">
                <header class="form-box to_buy">
                    <form class="form-inline">
                        <div class="phone-form">
                            <div class="progressbar">
                                <ul>
                                    <li class="succeed" style="width: 125px;">
                                        <i class="dian"></i>
                                        <span class="xian"></span>
                                        <div class="text">
                                            <p>认证新手机</p>
                                        </div>
                                    </li>
                                    <li class="fail" style="width: 125px;">
                                        <i class="dian"></i>
                                        <span class="xian"></span>
                                        <div class="text">
                                            <p>绑定成功</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p>新手机</p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" id="phone" name="phone" class="form-control" placeholder="" style="width:99%">
                                </div>
                            </div>
                            <font class="red" id="mess_phone"></font>
                            <p>验证码</p>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6 fl">
                                            <input type="text" id="mj-inputYz" class="form-control btn-block">
                                        </div>
                                        <div class="col-xs-6 text-right fr">
                                            <input type="button" id="dl_fsmm" class="btn btn-danger btn-block" value="获取验证码">

                                        </div>
                                    </div>
                                    <font class="red" id="mess_code"></font>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                        <a href="javascript:;" id="submitOk" class="btn btn-success btn-block">确认提交</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </header>
            </section>
        </div>
    </div>

    <div class="row" style="height:100%; min-height:550px;display:none;" id="success_div">
        <div class="modal-body">
            <ul class="list-inline ">
                <li><img src="/Static/workspace/img/up_pwdcg.png"></li>
                <li>
                    <h3 style="color:#60c531;">恭喜电话修改成功 </h3>
                    <p>今后将使用新电话来登录系统，请牢记</p>
                    <a href="/user/main/" class="btn btn-primary">返回</a></li>
            </ul>
        </div>
    </div>

</section>



</div>
</div>
</body>
</html>