

<!--footer start-->
<div class="mj-footer">
    <div class="w1180 f-clearfix">
        <dl class="mj-footerDl pl41">
            <dt>关于超凡</dt>
            <dd><a href="http://chaofan.wang/about" target="_blnak">超凡简介</a></dd>
            <dd><a href="http://chaofan.wang/about/article/?id=12" target="_blnak">超凡优势</a></dd>
            <dd><a href="http://chaofan.wang/about/ryzz/" target="_blnak">荣誉资质</a></dd>
            <dd><a href="http://chaofan.wang/about/zytd/" target="_blnak">专家团队</a></dd>
        </dl>
        <dl class="spacer"></dl>
        <dl class="mj-footerDl">
            <dt>帮助中心</dt>
            <dd><a href="http://job.chaofan.wang/" target="_blnak">超凡招聘</a></dd>
            <dd><a href="http://chaofan.wang/about/lxwm/" target="_blnak">联系我们</a></dd>
            <dd><a href="http://chaofan.wang/help/copyright" target="_blnak">版权申明</a></dd>
            <dd><a href="javascript:;" id="mj-fees" >投诉建议</a></dd>
        </dl>
        <dl class="spacer"></dl>
        <dl class="mj-footerDl">
            <dt>友情链接</dt>
            <dd><a href="http://chaofan.wang/" target="_blnak">超凡网</a></dd>
            <dd><a href="http://www.yizhchan.com/" target="_blnak">一只蝉</a></dd>
            <dd><a href="http://sbj.saic.gov.cn/" target="_blnak">商标局</a></dd>
            <dd><a href="http://www.sipo.gov.cn/" target="_blnak">专利局</a></dd>
        </dl>
        <dl class="spacer"></dl>
        <dl class="mj-footerDl">
            <dd>
                <div class="mj-service f-clearfix">
                    <label class="mt"><i class="uj-icon uj-icon1"></i></label>
                    <div class="mj-seR">
                        <strong>400-676-2003</strong>
                        <em>7x24小时服务</em>
                    </div>
                </div>
            </dd>
            <dd>
                <div class="mj-service f-clearfix pt20">
                    <label><i class="uj-icon uj-icon2"></i></label>
                    <div class="mj-seR">
                        <p>在线咨询</p>
                        <em>7x24小时服务</em>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="spacer"></dl>
        <dl class="mj-lastDl">
            <dd><span><img src="<?=StaticDir?>style/img/img1.jpg" alt=""/></span></dd>
            <dd>
                <p>快，扫我<br/>
                让商标状态住进你的手机<br/>
                超凡知识产权服务<br/>
                微信号：chofn123</p>
            </dd>
        </dl>
    </div>
</div>

<!--意见反馈弹框-->
<div class="mj-feedback" style="display:none">
    <span class="ms-close mj-close yjfk-close"></span>
    <span class="mj-fTitle">意见反馈</span>

    <div class="mj-feeCon">
        <p>我是张文萍，商标管家运营人员，我们团队每天都会整理分析你给的建议，无论是好的坏的。商标管家的进步，离不开你的支持。
            如果你有一分钟时间，请立刻告诉我们团队你的想法吧。
        </p>

        <textarea name="feedback" onfocus="if(this.value=='意见反馈（500个汉字内）' || this.value=='请填写您的意见'){this.value=''}; $('#em4email').html('');"
                  onblur="if(this.value==''){this.value='意见反馈（500个汉字内）'}">意见反馈（500个汉字内）</textarea>
        <input name="email" type="text" value="您的Email地址"
               onfocus="if(this.value=='您的Email地址'){this.value='';$('#em4email').html('')}"
               onblur="if(this.value==''){this.value='您的Email地址'}"/>
        <em id="em4email"></em>
        <a id="submit" href="javascript:void(0);">提交反馈</a>
    </div>
</div>
<!--mj-footer end-->
<link rel="stylesheet" href="<?=StaticDir?>style/ui-dialog.css"/>

<script language="javascript" src="<?=StaticDir?>script/backcallandtongji.js"></script>
<!--footer end-->
</body>
</html>