<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/sell-common.css">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/style.css">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/font-awesome.min.css">
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/layer/layer.js"></script>
</head>
<body>
<!--共有头部-->
<div class="yzc-sell-head f-clearfix">
    <div class="head-lg fl">
       <a class="lg-pic fl" href=""><img src="<?=StaticDir?>1.0/images/sell-lg.png"></a>
        <em class="fl"></em>
        <span class="lg-by fl">
            <label>出让者平台</label><br/>
            让无形资产流转起来
        </span>
    </div>
    <ul class="head-nav fr">
        <li class="yzc-port" id="yzc-port">
            <a class="yzc-entr" href="">去一只蝉  <i class="fa fa-chevron-down"></i></a>
            <div class="yzc-entr-list">
                <p><a href="">11111</a></p>
                <p><a href="">11111</a></p>
                <p><a href="">11111</a></p>
                <p><a href="">11111</a></p>
            </div>
        </li>
        <li class="yzc-head-line"></li>
        <li class="yzc-sta-mess">
            <a>您有新的站内信 <span class="cir sell-infor"><?=$msg_num?></span></a>
        </li>
        <li class="yzc-head-line"></li>
        <li>
            <a href="/login/logout/">退出</a>
        </li>
    </ul>
</div>