    <div class="sell-rg-nav" id="rg-nav">
        <ul class="nav-list">
            <li class="nav-list1">
                <a href="/"><i class="sell-ico ico-bg1"></i>我的首页</a>
            </li>
            <li class="nav-list2">
                <a href="/goods/index/"><i class="sell-ico ico-bg2"></i>我的商品</a>
            </li>
            <li class="nav-list3">
                <a href="/sell/index/"><i class="sell-ico ico-bg3"></i>我要出售</a>
            </li>
            <li class="nav-list4">
                <a href="/income/index/"><i class="sell-ico ico-bg4"></i>我的收益</a>
            </li>
            <li class="nav-list5">
                <a href="/exchange/index/"><i class="sell-ico ico-bg5"></i>奖励兑换</a>
            </li>

            <li class="sell-pull-list">
                <a class="pull-btn"><i class="sell-ico ico-bg6"></i>我的资料 <em class="fa fa-chevron-down" aria-hidden="true"></em></a>
                <div class="xl-box">
                    <!--<p> <a href="/index/verify">我的认证</a></p>-->
                    <p> <a target="_blank" href="<?=MY_URL?>">基本信息</a></p>
                    <p> <a href="/index/changePassword/">密码修改</a></p>
                </div>
            </li>
        </ul>
        <div class="sell-qq-serve">
            <a target='blank' href="tencent://message/?uin=<?=$qq_num?>&Site=qq&Menu=yes">
                <img src="<?=StaticDir?>1.0/images/QQser.png">
            </a>
            <p>您还可以<a href="javascript:;" onclick='window.open("http://p.qiao.baidu.com/im/index?siteid=7918603&ucid=1268165");'>联系在线客服</a></p>
        </div>
    </div>