    <div class="sell-rg-nav" id="rg-nav">
        <ul class="nav-list">
            <li class="nav-list1">
                <a href=""><i class="sell-ico ico-bg1"></i>我的首页</a>
            </li>
            <li class="sell-pull-list">
               <a href=""><i class="sell-ico ico-bg2"></i>我的商品 <em class="fa fa-chevron-down" aria-hidden="true"></em></a>

                <div class="xl-box">
                    <p> <a href="">出售中</a></p>
                    <p> <a href="">审核中</a></p>
                    <p> <a href="">未通过</a></p>
                    <p> <a href="">已失效</a></p>
                </div>
            </li>
            <li class="nav-list3">
                <a href=""><i class="sell-ico ico-bg3"></i>我的出售</a>
            </li>
            <li class="nav-list4">
                <a href=""><i class="sell-ico ico-bg4"></i>我的资料</a>
            </li>

        </ul>
        <div class="sell-qq-serve">
            <a href="">
                <img src="<?=StaticDir?>1.0/images/QQser.png">
            </a>
            <p>您还可以选择<a href="">联系在线客服</a></p>
        </div>
    </div>