<!-- Modal -->
<div class="modal fade" id="evaluate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="gwsid">0</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        	<img src="<?=StaticDir?>workspace/img/close.gif"/>
        </button>
        <h4 class="modal-title">评价顾问</h4>
      </div>
      <div class="modal-body evaluate">
        <p>内容</p>
        <textarea name="content" class="content" cols="30" rows="8"></textarea>
        <p><input type="checkbox" name="istrade" class="istrade">不满意 我要换顾问</p>
        <p class="text-center"><button class="btn btn-success yjpost" type="button">提交</button></p>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<script language="javascript" src="<?=StaticDir?>workspace/js/assess.js"></script>