<!DOCTYPE html>
<html>
<head>
    <title>一只蝉出售者平台 - 让无形资产流转起来</title>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/sell-common.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/style.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/font-awesome.min.css?v=<?=$static_version?>">
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/layer/layer.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/data-total.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="http://data.chanshu.wang/data.js?v=<?=$static_version?>"> </script>
    <!--新加的CSS-->
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/search.css">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/animate.min.css">
</head>
<body>
<!--共有头部-->
<!--<div class="sell-lg-tp f-clearfix">-->
    <!--<div class="sell-lg-cent">-->
        <!--<div class="fl">-->
           <!--<img src="<?=StaticDir?>1.0/images/sell-lg-nw.png">-->
        <!--</div>-->
        <!--<div class="fr">-->
            <!--<a class="yzc-lj" target="_blank" href="<?=SITE_URL?>"  addmsg="去一只蝉看看" module='登录页'>去一只蝉看看</a>-->
            <!--<a target="_blank" href="javascript:;" onclick="goChat();return false;" addmsg="在线客服" module='登录页'><img src="<?=StaticDir?>1.0/images/zxkf.png"></a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="sea-head">
    <div class="w1300">
        <div class="fl">
            <a class="s-lg" href="<?=SELLER_URL?>"><img src="<?=StaticDir?>1.0/images/sell-lg-nw.png"></a>
            <a href="/login/seller"  addmsg="商标出售" module='登录页'>
                <label>
                    <i class="ico s-tp1"></i>
                    商标出售
                </label>
            </a>
<!--            <a href="">
                <label>
                    <i class="ico s-tp2"></i>
                    数据共享
                </label>

            </a>-->
            <a href="/login/trade"  addmsg="商标报价单工具" module='登录页'>
                <label>
                    <i class="ico s-tp3"></i>
                    商标报价单工具
                </label>
            </a>
            <a href="/login/detection"  addmsg="商标安全检测工具" module='登录页'>
                <label>
                    <i class="ico s-tp4"></i>
                    商标安全检测工具
                </label>
            </a>
        </div>
        <div class="fr">
            <a href="<?=SITE_URL?>" target="blank"  addmsg="去一只蝉看看" module='登录页'>去一只蝉看看</a>
            <a><img src="<?=StaticDir?>1.0/images/s-tp-tel.png"></a>
        </div>
    </div>
</div>