<? require(ViewDir.'/login/header.html'); ?>
<div class="sear-main">
    <div class="sear-cet-ms fadeInDown timer1"></div>
    <div class="sear-btm-bg">
        <div class="w1300">
            <ul class="sear-exper fadeInUp timer4">
                <li>
                    <h3>检测专业全面</h3>
                    <label>24道检测工序，13种风险核查机制，准确率95.93%</label>
                </li>
                <li>
                    <h3>10秒快速完成</h3>
                    <label>输入商标号一键自动检测，10秒出结果</label>
                </li>
                <li>
                    <h3>报告免费下载</h3>
                    <label>无风险放心购！让商标质量检测报告帮您说话</label>
                </li>
            </ul>
            <a class="imm-expe pulse animated timer5 infinite" href="<?=CHECK_URL?>" target="_blank">马上体验</a>
        </div>
    </div>
</div>
<? require(ViewDir.'/login/footer.html'); ?>