<? require(ViewDir.'/login/header.html'); ?>
<div class="s-trade1 com-pos page_1">
       <div class="w1300 f-clearfix">
           <div class="s-des1 com-des">
               <h3 class="flipInX  timer1">商标·专利·版权</h3>
               <h6 class="flipInX  timer2">为用户提供全方位的一站式服务</h6>
               <p class="flipInX  timer3">
                   <label><i class="s-num">30</i>万闲置资源</label><br/>
                   <label><i class="s-num">14</i>年代理资源积累</label><br/>
                   <label><i class="s-num">30</i>家合作机构</label><br/>
                   <label><i class="s-num">15</i>倍资源高于其他平台</label><br/>
               </p>
               <a href="<?=SITE_URL?>" target="_blank" class="yl-btn pulse animated infinite timer5">去一只蝉看看</a>
           </div>
       </div>
       <div class="s-pic1 bounceInRight  timer1"></div>
   </div>
   <div class="s-trade2 com-pos page_2 ">
           <div class="s-des2">
               <h3 class=" timer1"><a>免费推标</a>精准覆盖全网 48.91% 的买家，让您的商标早日售出</h3>
               <h6 class=" timer2">价值挖掘  ·  logo美化  ·  优惠促销</h6>

               <a href="javascript:;" onclick="goChat()" class="yl-btn pulse animated infinite timer5">我要参加</a>
           </div>
           <div class="s-pic2">
               <span class="lit-pic1  timer4"></span>
               <span class="lit-pic2  timer4"></span>
               <span class="lit-pic3  timer5"></span>
           </div>
   </div>
   <div class="s-trade3 page_3">
       <div class="w1300 f-clearfix">
           <div class="s-des3 com-des">
               <h3 class="timer2">移动版支持</h3>
               <p class="timer4">
                   商标专利，随时随地浏览<br/>
                   无需开启电脑，手机也能看<br/>

               </p>
               <div class="ckys  animated  timer3">
                   <a><i><img src="<?=StaticDir?>1.0/images/pre-ico.png"></i>扫码查看</a>
                   <span>
                       <img src="<?=StaticDir?>1.0/images/s-wx.png">
                   </span>
               </div>
           </div>
       </div>
       <div class="s-pic3  timer3"></div>
   </div>
   <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery.mousewheel.js"></script>
   <script type="text/javascript">
       var mouseTodo = false;
       $(document).on("mousewheel", function(event, delta, deltaX, deltaY) {
           if (mouseTodo) {
               return false
           }
           var winStop = $(window).scrollTop();
           var winH = $(window).height();
           if (delta < 0) {
               if (winStop < 897) {
                   $("html,body").animate({
                       scrollTop: "897px"

                   }, 2000, function() {
                       mouseTodo = false;

                   })

                   mouseTodo = true
               }
               if (winStop < 1828 && winStop >= 956) {
                   $("html,body").animate({
                       scrollTop: $(".page_3").offset().top + "px"
                   }, 2000, function() {
                       mouseTodo = false
                   })
                   mouseTodo = true
               }


           }
       });
       var scrollTop = $(window).scrollTop();
       $(document).ready(function(){
           if(scrollTop==0){
               $(".s-des2,.s-pic2").css({"opacity":"0"});
               $(".s-des3,.s-pic3").css({"opacity":"0"})
           }
       })
       $(document).on("scroll", function(e) {
           var scrollTop = $(window).scrollTop();
           if (scrollTop< $(".page_2").offset().top-150){
               $(".s-pic1").addClass("bounceInRight");
           }
           if (scrollTop<$(".page_3").offset().top+200 && scrollTop>= $(".page_2").offset().top-360) {
               $(".s-des2,.s-pic2").css({"opacity":"1"});
               $(".s-des2 h3").addClass("bounceInLeft");
               $(".s-des2 h6").addClass("bounceInRight");
               $(".s-pic2 span").addClass("flipInY");
           }

           if (scrollTop >= $(".page_3").offset().top -300) {
               $(".s-des3,.s-pic3").css({"opacity":"1"})
               $(".s-pic3").addClass("fadeInRightBig");
               $(".s-trade3 h3,.s-des3 p,.ckys").addClass("fadeInLeft");
           }
       });
   </script>
<? require(ViewDir.'/login/footer.html'); ?>