<!DOCTYPE html>
<html>
<head>
    <title>一只蝉出售者平台 - 让无形资产流转起来</title>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/sell-common.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/style.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/font-awesome.min.css?v=<?=$static_version?>">
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/layer/layer.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/data-total.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="http://data.chanshu.wang/data.js?v=<?=$static_version?>"> </script>

</head>
<body>
<!--共有头部-->
<div class="sell-lg-tp f-clearfix">
    <div class="sell-lg-cent">
        <div class="fl">
           <img src="<?=StaticDir?>1.0/images/sell-lg-nw.png">
        </div>
        <div class="fr">
            <a class="yzc-lj" target="_blank" href="<?=SITE_URL?>"  addmsg="去一只蝉看看" module='登录页'>去一只蝉看看</a>
            <a target="_blank" href="javascript:;" onclick="goChat();return false;" addmsg="在线客服" module='登录页'><img src="<?=StaticDir?>1.0/images/zxkf.png"></a>
        </div>
    </div>
</div>
<!--图片轮播  start-->
<div class="picScroll-top">
    <div class="hd">
        <ul></ul>
    </div>
    <div class="bd">
        <div class="tempWrap">
            <ul class="picList">
                <li>
                    <img  src="<?=StaticDir?>1.0/images/lg-ban1.png">
                    <!--<div class="sell-ban1">-->
                        <!--<img src="<?=StaticDir?>1.0/images/lg-ban1.png">-->
                    <!--</div>-->
                </li>
                <li>
                    <img  src="<?=StaticDir?>1.0/images/lg-ban2.png">
                    <!--<div class="sell-ban2">-->
                        <!--<img src="<?=StaticDir?>1.0/images/lg-ban2.png">-->
                    <!--</div>-->
                </li>
                <li>
                    <img  src="<?=StaticDir?>1.0/images/lg-ban3.png">
                    <!--<div class="sell-ban3">-->
                        <!--<img src="<?=StaticDir?>1.0/images/lg-ban3.png">-->
                    <!--</div>-->
                </li>
                <li>
                    <img  src="<?=StaticDir?>1.0/images/lg-ban4.png">
                    <!--<div class="sell-ban4">-->
                        <!--<img src="<?=StaticDir?>1.0/images/lg-ban4.png">-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
</div>
<!--图片轮播  end-->
<div class="sell-btm-dw">
      <div class="sell-btm-pos">
          <div class="sell-btm f-clearfix"></div>
          <div class="sell-btm-cet">
              <a class="lg lg-reg" href="javascript:;" id="account_login" addmsg="账号登录" module='登录页'><img src="<?=StaticDir?>1.0/images/lg-ico1.png">账号登录</a>
              <a class="reg lg-reg" href="javascript:;" id="account_register" addmsg="用户注册" module='登录页'><img src="<?=StaticDir?>1.0/images/lg-ico2.png">用户注册</a>
          </div>
      </div>

    <div class="sell-btm-pos2">
        <div class="sell-btm-opc f-clearfix"></div>
        <p class="sell-btm-sm f-clearfix">ICP证：蜀ICP备15035613号-1 违法和不良信息举报电话: 028-110 Copyright © 2002 - 2016</p>
    </div>


</div>



<!--登录弹出框-->


    <div class="logo-main">
        <div class="logo-title">
            <p class="on"  id="lg1" onclick="jc('lg',1,2)">
                账号登录
            </p>
            <p id="lg2" onclick="jc('lg',2,2)">
                快捷登录
            </p>
        </div>
        <div  id="con_lg_1">
            <div  class="logo-cont"  style="display: block">
                <div class="logo-cont-main f-hidden">
                    <ul class="logo-listUl">
                        <li>
                            <span>用户名</span>
                            <input type="text" class="cir" id="log1_account" placeholder="请输入正确的手机号"/>
                        </li>
                        <li>
                            <span>密码</span>
                            <input type="password" class="cir" id="log1_password" placeholder="请输入密码(6-20位数字，字母或符号)"/>
                        </li>
                        <li class="self-lg">
                            <p>
                                <input type="checkbox" id="accord"/><label>自动登录</label>
                            </p>
                            <a class="fr" id="miss_pass">忘记密码? </a>
                        </li>
                    </ul>

                </div>
                <p class="eTips e1" style="display: none"><i class="us-icon us-icon19"></i><span></span></p>
                <a class="sub-btn cir" id="log1">登录</a>
            </div>

            <p class="reg-now" id="lg2" onclick="jc('lg',2,2)">
                <a href="#">还没账号点这里</a>
            </p>
        </div>
        <div class="logo-cont" id="con_lg_2">
            <div class="logo-cont-main f-hidden">
                <em class="reg-ts" id="chaofn_dl_msg">验证即注册，未注册将自动创建账号</em>
                <ul class="chaofan-mj-logUl" style="">
                    <li>
                        <input type="text" id="umobile" class="cir reg-tel" placeholder="请输入您的手机号码" />
                    </li>
                    <li style="position: relative">
                        <div class="chaofan-mj-inputPi">
                            <input type="text" id="ucode" placeholder="请输入验证码" class="span-input  cir" maxlength="4">
                        </div>
                        <strong class="ms-sent ms1" id="getcode">获取验证码</strong>
                        <strong class="ms-sent ms2" style="display: none;background: #e9e9e9;color:#666;cursor: default;">还剩 <em id="ms_n">60</em>s 重发</strong>
                    </li>
                    <li class="self-lg">
                        <input type="checkbox" checked="checked" value="1" id="remindM">
                        <label>记住手机号码</label>
                    </li>
                </ul>
            </div>
            <p class="eTips e2" style="display: none"><i class="us-icon us-icon19"></i><span></span></p>
            <a href="javascript:;" ctype="m" class="sub-btn cir" id="log2">登录</a>
        </div>
    </div>

<script type="text/javascript" src="<?=StaticDir?>1.0/js/table-list.js?v=<?=$static_version?>"></script>
<script type="text/javascript" src="<?=StaticDir?>1.0/js/tool.js?v=<?=$static_version?>"></script>
<script type="text/javascript" src="<?=StaticDir?>1.0/js/login.js?v=<?=$static_version?>"></script>
<!--<script type="text/jscript" src="<?=StaticDir?>1.0/js/jquery.lazyload.min.js"></script>-->
<script type="text/javascript">
    var _YZC_ONLINE_ = '';
    $(document).ready(function(e) {
        //获得登录相关的参数
        $.ajax({
            async: false,
            type : 'post',
            url  : '/login/getOnlineStatus/',
            dataType : 'json',
            success : function (data){
                if (data.code){
                    _YZC_ONLINE_ = data.msg;
                }
            }
        });
    });
    //聊天函数
    function goChat(){
        var type = _YZC_ONLINE_ ? _YZC_ONLINE_ : '';
        if ( type=='yzc' )
        {
            window.open("http://p.qiao.baidu.com/cps/chat?siteId=9503594&userId=21149642");
        }else{
            window.open("http://chat.looyu.com/chat/chat/p.do?c=46344&f=123997&g=51817");
        }
    }
   //调用登录
    $(".lg-reg").on("click",function(){
        layer.open({
            type: 1,
            area:["260px","328px"],
            title: false, //不显示标题
            content: $('.logo-main')
         })
        clearInterval(timer);
    });

    //placeholder兼容IE
    function isPlaceholder() {
        var input = document.createElement('input');
        return 'placeholder' in input;
    }
    //不支持placeholder 用jquery来完成
    if (!isPlaceholder()) {
        $(document).ready(function () {
            if (!isPlaceholder()) {
                $("input").not("input[type='password']").each(//把input绑定事件 排除password框
                        function () {
                            if ($(this).val() == "" && $(this).attr("placeholder") != "") {
                                $(this).addClass("phcolor").val($(this).attr("placeholder"));
                                $(this).focus(function () {
                                    if ($(this).val() == $(this).attr("placeholder")) {
                                        $(this).val("");
                                    }
                                });
                                $(this).blur(function () {
                                    if ($(this).val() == "") {
                                        $(this).val($(this).attr("placeholder")).addClass("phcolor");
                                    }
                                });
                                $(this).keydown(function () {
                                    $(this).removeClass("phcolor");
                                });
                            }
                        });
                //对password框的特殊处理1.创建一个text框 2获取焦点和失去焦点的时候切换
                var pwdField = $("input[type=password]");
                var pwdVal = pwdField.attr('placeholder');
                pwdField.after('<input id="pwdPlaceholder" class="cir" type="text" class="phcolor" value=' + pwdVal + ' autocomplete="off" />');
                var pwdPlaceholder = $('#pwdPlaceholder');
                pwdPlaceholder.show();
                pwdField.hide();

                pwdPlaceholder.focus(function () {
                    pwdPlaceholder.hide();
                    pwdField.show();
                    pwdField.focus();
                });

                pwdField.blur(function () {
                    if (pwdField.val() == '') {
                        pwdPlaceholder.show();
                        pwdField.hide();
                    }
                });
            }
        });
    }

 //中间
    var otp=$(".sell-lg-tp").outerHeight();
    var obtm=$(".sell-btm").outerHeight();
    var obte=$(".sell-btm-sm").outerHeight();
    var owh=$(window).height();
    var oh=owh-obte-obtm-otp;
    var  h;
    function height(){
        var otp=$(".sell-lg-tp").outerHeight();
        var obtm=$(".sell-btm").outerHeight();
        var obte=$(".sell-btm-sm").outerHeight();
        var owh=$(window).height();
        var oh=owh-obte-obtm-otp;
        $(".picScroll-top").css({"height":oh});
        $(".tempWrap").css({"height":oh});
        h= $(".picList li").eq(0).outerHeight();
//        $(".picScroll-top .bd").css({"height":oh});
        $(".picScroll-top .bd ul li").css({"height":oh});
//        $(".picScroll-top .bd ul li div").css({"height":oh});
        $(".picList li").css({"lineHeight":(h-45)+'px'});
    }
    $(window).resize(function(){
        height();
        h= $(".picList li").eq(0).outerHeight();
        $(".picList li").css({"lineHeight":(h-45)+'px'});
        if(h<=600){
            $(".picScroll-top .bd ul li").css({"height":600});
            $(".tempWrap").css({"height":600})
            $(".picList li").css({"lineHeight":600+'px',"vertical-align":"middle"});
        }
        $(".picList").css({"top":-(h)+'px'});
    });
    $(document).ready(function(){
        height();
        if(h<=600){
            $(".picScroll-top .bd ul li").css({"height":600});
            $(".tempWrap").css({"height":600});
            $(".picList li").css({"lineHeight":600+'px',"vertical-align":"middle"});
        }

    })

    var otp=$(".sell-lg-tp").outerHeight();
    var obtm=$(".sell-btm").outerHeight();
    var obte=$(".sell-btm-sm").outerHeight();
    var owh=$(window).height();
    var oh=owh-obte-obtm-otp;
    $(".picScroll-top").css({"height":oh});
    $(".tempWrap").css({"height":oh});
//    $(".picScroll-top .bd").css({"height":oh});
    $(".picScroll-top .bd ul li").css({"height":oh});
//    $(".picScroll-top .bd ul li div").css({"height":oh});
   //轮播焦点图
    var timer="";
    var i=0;
    //添加按钮
    var t="";
    for(i=1;i<$(".picList li").length;i++){
        if(i==1){
            t+='<li class="on">'+i+'</li>';
        }
        t+='<li>'+i+'</li>';
    }
    $(".hd ul").append(t);

    //获取图片高度
    h= $(".picList li").eq(0).outerHeight();
    //焦点图
    $(".hd li").each(function(i){
        $(this).click(function(){
            clearInterval(timer);

            t=-h*i;
            if($(".picList:animated").length==0){
                $(this).addClass("on");
                $(this).siblings("li").removeClass("on");
                $(".picList").animate({"top":t});
            }
            timer=setInterval(function(){
                if(i==$(".picList li").length-1){
                    i=-1;
                }
                i++;
                t=-h*i;
                if($(".picList:animated").length==0){
                    $(".hd ul li").eq(i).addClass("on");
                    $(".hd ul li").eq(i).siblings("li").removeClass("on");
                    $(".picList").animate({"top":t});
                }
            },3000);
        });
    })
    var j=0;
    timer=setInterval(function(){
        if(j==$(".picList li").length-1){
            j=-1;
        }
        j++;
        t=-h*j;
        if($(".picList:animated").length==0){
            $(".hd ul li").eq(j).addClass("on");
            $(".hd ul li").eq(j).siblings("li").removeClass("on");
            $(".picList").animate({"top":t});
        }
    },3000);

    var index=0;
    var scrollFunc = function (e) {
        e = e || window.event;
        if (e.wheelDelta) {  //判断浏览器IE，谷歌滑轮事件

            if (e.wheelDelta > 0) { //当滑轮向上滚动时
                clearInterval(timer);
                $(".hd li").each(function(){
                    if($(this).hasClass("on")){
                        index=$(this).index();
                    }
                })
                index--;
                if(index==-1){
                    index=$(".picList li").length-1;
                }
                t=-h*index;
                if($(".picList:animated").length==0){
                    $(".hd ul li").eq(index).addClass("on");
                    $(".hd ul li").eq(index).siblings("li").removeClass("on");
                    $(".picList").animate({"top":t});
                }
                timer=setInterval(function(){
                    if(index==$(".picList li").length-1){
                        index=-1;
                    }
                    index++;
                    t=-h*index;
                    if($(".picList:animated").length==0){
                        $(".hd ul li").eq(index).addClass("on");
                        $(".hd ul li").eq(index).siblings("li").removeClass("on");
                        $(".picList").animate({"top":t});
                    }
                },3000);
            }
            if (e.wheelDelta < 0) { //当滑轮向下滚动时
                clearInterval(timer);
                $(".hd li").each(function(){
                    if($(this).hasClass("on")){
                        index=$(this).index();
                    }
                })
                index++;
                if(index==$(".picList li").length){
                    index=0;
                }
                t=-h*index;
                if($(".picList:animated").length==0){
                    $(".hd ul li").eq(index).addClass("on");
                    $(".hd ul li").eq(index).siblings("li").removeClass("on");
                    $(".picList").animate({"top":t});
                }

                timer=setInterval(function(){
                    if(index==$(".picList li").length-1){
                        index=-1;
                    }
                    index++;
                    t=-h*index;
                    if($(".picList:animated").length==0){
                        $(".hd ul li").eq(index).addClass("on");
                        $(".hd ul li").eq(index).siblings("li").removeClass("on");
                        $(".picList").animate({"top":t});
                    }
                },3000);

            }
        } else if (e.detail) {  //Firefox滑轮事件
            if (e.detail> 0) { //当滑轮向上滚动时
                clearInterval(timer);
                $(".hd li").each(function(){
                    if($(this).hasClass("on")){
                        index=$(this).index();
                    }
                })
                index++;
                if(index==$(".picList li").length){
                    index=0;
                }
                t=-h*index;
                if($(".picList:animated").length==0){
                    $(".hd ul li").eq(index).addClass("on");
                    $(".hd ul li").eq(index).siblings("li").removeClass("on");
                    $(".picList").animate({"top":t});
                }

                timer=setInterval(function(){
                    if(index==$(".picList li").length-1){
                        index=-1;
                    }
                    index++;
                    t=-h*index;
                    if($(".picList:animated").length==0){
                        $(".hd ul li").eq(index).addClass("on");
                        $(".hd ul li").eq(index).siblings("li").removeClass("on");
                        $(".picList").animate({"top":t});
                    }
                },3000);


            }
            if (e.detail< 0) { //当滑轮向下滚动时
                clearInterval(timer);
                $(".hd li").each(function(){
                    if($(this).hasClass("on")){
                        index=$(this).index();
                    }
                })
                index--;
                if(index==-1){
                    index=$(".picList li").length-1;
                }
                t=-h*index;
                if($(".picList:animated").length==0){
                    $(".hd ul li").eq(index).addClass("on");
                    $(".hd ul li").eq(index).siblings("li").removeClass("on");
                    $(".picList").animate({"top":t});
                }
                timer=setInterval(function(){
                    if(index==$(".picList li").length-1){
                        index=-1;
                    }
                    index++;
                    t=-h*index;
                    if($(".picList:animated").length==0){
                        $(".hd ul li").eq(index).addClass("on");
                        $(".hd ul li").eq(index).siblings("li").removeClass("on");
                        $(".picList").animate({"top":t});
                    }
                },3000);
            }
        }

    }
    //给页面绑定滑轮滚动事件
    if (document.addEventListener) {
        document.addEventListener('DOMMouseScroll', scrollFunc, false);
    }
    //滚动滑轮触发scrollFunc方法
    window.onmousewheel = document.onmousewheel = scrollFunc;

    //
    var a=0;
    $(".tempWrap").mouseenter(function(){
        clearInterval(timer);
    });
    $(".tempWrap").mouseleave(function(){
        clearInterval(timer);
        $(".hd li").each(function(){
            if($(this).hasClass("on")){
                a=$(this).index();
            }
        })
        timer=setInterval(function(){
            if(a==$(".picList li").length-1){
                a=-1;
            }
            a++;
            t=-h*a;
            if($(".picList:animated").length==0){
                $(".hd ul li").eq(a).addClass("on");
                $(".hd ul li").eq(a).siblings("li").removeClass("on");
                $(".picList").animate({"top":t});
            }
        },3000);
    });
</script>
</body>
</html>