<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>您好！欢迎使用超凡网及商标管家，您的账号密码已重置。</title>
</head>

<body style="background:#f1f1f1; margin:0; padding:0;font-family:songti; font-size:12px;">
    <div style="background:url(http://atts.chofn.org/skin/customer/commom/bg.jpg) repeat;width:752px;margin:0 auto; padding:15px; border:1px solid #b9b9b9; margin-top:50px; position:relative;">
        <div style="position:absolute;right:0px;top:0px;"><img src="http://www.tmmark.com/email/images/crm/logo2.png" /></div>
        <div style="padding:30px;background:#FFF;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td align="left" style=" width: 111px;"><img src="http://www.tmmark.com/email/images/crm/img12-23/logo.png" alt=""/></td>
                        <td>
                            <ul style="margin: 0;padding: 0;font-family: 微软雅黑;">
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;border-right:1px solid #eeeeee;">首页</a></li>
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/product/detail/?id=1" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;border-right:1px solid #eeeeee;">商标注册</a></li>
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/product/mlist/?mId=2" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;border-right:1px solid #eeeeee;">专利申请</a></li>
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/product/plist/?id=11" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;border-right:1px solid #eeeeee;">法律服务</a></li>
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/product/plist/?id=12" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;border-right:1px solid #eeeeee;">版权登记</a></li>
                                <li style="list-style: none;float: left;margin: 0;padding: 0;"><a href="http://chaofan.wang/domain/" style="color: #333333;display: inline-block;width:81px;text-align:center;text-decoration: none;">域名注册</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding:38px;background:#FFF; margin-top:-25px;">
            <p style="color:#861414; font-weight:bold;">尊敬的超凡网用户：</p>
            <br />
            <p style="color:#999999;line-height:24px; display:none">您好！欢迎使用超凡网及商标管家，您的账号{$name}，密码已重置。
            </p>
			<p style="color:#666666;line-height:24px;">登录名：{$email} 新密码：{$password}</p>
			<p style="color:#999999;line-height:24px;">即刻体验：</p>
			<p style="color:#999999;line-height:24px;">超凡网：<a href="http://chaofan.wang/">http://chaofan.wang/</a>&nbsp;查看档案、线上下单！</p>
			<p style="color:#999999;line-height:24px;">商标管家：<a href="http://g.chofn.com/">http://g.chofn.com/</a>&nbsp;查商标、管商标 如此简单！</p>
			<br />
            <p style="border-bottom:1px dashed #eee;"></p>
            <br />
            <p style="color:#999; line-height:24px;">感谢您对超凡网和商标管家的支持与信任。我们将竭力保护您的知识产权，让您的品牌立于不败之地。如需帮助，欢迎拨打超凡24小时服务热线400-676-2003。超凡衷心敬上！</p>
			<br />
			<p style="color:#333; line-height:24px; font-style:italic;text-decoration:underline;font-size:14px;">注意：此邮件为系统发出，请勿回复！</p>
        </div> 
        <div style="border: 1px solid #eeeeee;background: #eeeeee;">
        	<p style="margin: 0;padding:0;font-family: 微软雅黑;font-size:12px;color:#999999;word-wrap:break-word;word-break:normal;padding:20px 0 28px 27px;">
                <span style="display:block;line-height: 19px;">您收到此邮件是因为您曾经注册了超凡网账号。</span>
                <span style="display:block;line-height: 19px;">您有任何问题欢迎致电超凡网客服中心：400-676-1007</span>
                <span style="display: block;line-height: 19px;"><a href="http://chaofan.wang/">超凡网 (chaofan.wang)</a>
                    是一站式全产业链知识产权服务电商平台。业务覆盖国内商标、国际商标、国内专利、国际专利、法律服务、版权登记、域名注册七大版块，一直致力于解决客户知识产权问题，快速响应客户需求，为客户提供一对一顾问式贴心服务。</span>
            </p>
        </div>      
    </div>
<!--the-bottom-->
<div style="height:40px;width:100%;"></div>
<!-- the end -->
</body>
</html>