<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>1.0/css/dataPage.css?v=<?=$static_version?>">
<link rel="stylesheet" href="<?=StaticDir?>1.0/css/animate.min.css?v=<?=$static_version?>">
<div class="yzc-sell-main">
<!--公用左边导航-->
<? require(ViewDir.'/left.html'); ?>
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3 class="fl">数据共享</h3>
            <div class="pull-list  fr">
                <a class="cir all-tp-btn"><font><?=$data['month_cn']?></font><i class="fa fa-chevron-down"></i></a>
                <ul class="all-tp-list" style="display: none;">
                    <? foreach($select as $item): ?>
                    <li>
                        <a href="/saleanalysis/index/?id=<?=$item['id']?>"><?=$item['month_cn']?></a>
                    </li>
                    <? endforeach; ?>
                </ul>
            </div>
        </div>
        <div class="data-index-main">
            <div class="data-tit f-clearfix">
                <h3>一只蝉 - <?=$data['month_cn']?>数据分析报告</h3>
                <label>本报告由www.yizhchan.com (一只蝉知识产权交易平台)提供</label>
            </div>
            <h3 class="data-cont-title title-lis-sty  f-clearfix"><label class="tit-leb">销售数据分析</label></h3>
            <div class="data-cont-price cont-price-top  f-clearfix ">
                <div class="data-cont-pMain ">
                    <font><?=$data['month_cn']?>出售的商品中，最易出售的定价范围为</font><br/>
                    <p class="data-cont-tj">
                        <i><?=$data['item'][1][0]['data1']?></i>W元
                    </p><br/>
                    <label>占出售商品定价范围的 <?=$data['item'][1][0]['data2']?>%</label><br/>
                    <font>其余出售定价占比分别为</font><br/>
                    <p class="data-cont-Patio">
                        <? foreach($data['item'][1] as $k=>$item): ?>
                        <? if($k==0) continue; ?>
                        <? if($k==1): ?>
                        <a><?=$item['data1']?>w <?=$item['data2']?>%</a>
                        <? else: ?>
                        | <a><?=$item['data1']?>w <?=$item['data2']?>%</a>
                        <? endif; ?>
                        <? endforeach; ?>
                    </p>
                </div>
            </div>
            <div class="data-cont-ratio f-clearfix">
                <ul>
                    <li>
                        <span>
                           <b class="more"><?=$data['item'][2][0]['data2']?></b>%
                        </span>
                        <label>包装后商品出售几率</label>
                    </li>
                    <li>
                       <span>
                           <b class="less"><?=$data['item'][2][1]['data2']?></b>%
                       </span>
                        <label>未包装后商品出售几率</label>
                    </li>
                </ul>
                <p>商品包装后的出售几率是为包装商品的<em> <?=round($data['item'][2][0]['data2']/$data['item'][2][1]['data2'])?> </em>倍</p>
            </div>
            <h3 class="data-cont-title data-lis-sty f-clearfix "><label class="tit-leb">访客数据分析</label></h3>
            <div class="data-cont-analy f-clearfix f-hidden">
                <div class="cont-analy-top f-clearfix f-hidden">
                    <div class="cont-analy-lf fl">
                        <p  class="analy-title"><label>热门分类前十名</label></p>
                        <ul class="colum-chart f-clearfix">
                            <? foreach($data['item'][3] as $item): ?>
                            <li>
                                <span class="colum1"></span>
                                <label>
                                    第<?=$item['data1']?>类<br/>
                                    <?=$class[$item['data1']]?>
                                </label>
                            </li>
                            <? endforeach; ?>
                        </ul>
                    </div>
                    <div class="cont-analy-rg fr">
                        <p  class="analy-title"><label>大家最爱搜索的关键字</label></p>
                        <div class="cont-analy-span f-clearfix">
                            <? foreach($data['item'][4] as $item): ?>
                            <span><?=$item['data1']?></span>
                            <? endforeach; ?>
                        </div>
                    </div>
                </div>
                <div class="f-clearfix">
                    <div class="cont-roun-chart fl add-sty">
                        <p  class="analy-title"><label>最受欢迎的组合类型</label></p>
                        <div id="container1" class="container"></div>
                        <label class="roun-chart-leb">
                            <? foreach($data['item'][5] as $item): ?>
                            <font><?=$_TYPE[$item['data1']]?>  <?=$item['data2']?>% </font>
                            <? endforeach; ?>
                        </label>
                    </div>
                    <div class="cont-roun-chart fr">
                        <p  class="analy-title"><label>最受欢迎的商标字数</label></p>
                        <div id="container2"  class="container"></div>
                        <label class="roun-chart-leb">
                            <? foreach($data['item'][6] as $item): ?>
                            <font><?=$_NUMBER[$item['data1']]?>  <?=$item['data2']?>% </font>
                            <? endforeach; ?>
                        </label>
                    </div>
                </div>

            </div>
            <div class="cont-roun-btm">
                <p>
                    本报告由www.yizhchan.com (一只蝉知识产权交易平台)提供
                </p>
                <a class="data-cont-btn" target="_blank" href="/saleanalysis/down/?id=<?=$data['id']?>">下载报告</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript">
    var dom1 = document.getElementById("container1");
    var dom2 = document.getElementById("container2");
    var myChart1 = echarts.init(dom1);
    var myChart2 = echarts.init(dom2);
    var app = {};
    option1 = option2 = null;
    option1 = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        color: [ '#2ec7c9', '#b6a2de', '#5ab1ef', '#ffb980','#d87a80'],
        series : [
            {
                name: '最受欢迎的组合类型',
                type: 'pie',
                radius : '70%',
                center: ['50%', '52%'],
                data:[
                    <? foreach($data['item'][5] as $item): ?>
                    {value:<?=$item['data2']?>, name:'<?=$_TYPE[$item['data1']]?>'},
                    <? endforeach; ?>
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    option2 = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        color: [ '#2ec7c9', '#b6a2de', '#5ab1ef', '#ffb980','#d87a80'],
        series : [
            {
                name: '最受欢迎的商标字数',
                type: 'pie',
                radius : '70%',
                center: ['50%', '52%'],
                data:[
                <? foreach($data['item'][6] as $item): ?>
                    {value:<?=$item['data2']?>, name:'<?=$_NUMBER[$item['data1']]?>'},
                    <? endforeach; ?>
                    ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
             }
        ]
    };
    myChart1.setOption(option1, true);
    myChart2.setOption(option2, true);
    //下拉列表
    var cbtn=$(".all-tp-btn");
    var plist= $(".all-tp-list");
    cbtn.attr("index","1");
    var dinx=cbtn.attr("index");
    cbtn.each(function(){
        $(this).click(function(){
            var dinx= $(this).attr("index");
            if(dinx==1){
                $(this).siblings("ul").slideDown();
                $(this).attr("index","2");
                $(this).find("i").css({"transform":"rotate(180deg)"})
            }
            else if(dinx==2){
                $(this).siblings("ul.all-tp-list").slideUp();
                $(this).attr("index","1");
                $(this).find("i").css({"transform":"rotate(0deg)"})
            }
        });
        $(this).siblings("ul.all-tp-list").find("li").each(function(){
            $(this).click(function(){
                var myindex = $(this).data('index');//传id到font中
                $(this).parent().slideUp();
                $(this).parent().siblings("a.all-tp-btn").find("font").text($(this).text()).data('index',myindex);
                $(this).parent().siblings("a.all-tp-btn").attr("index","1");
                $(this).parent().siblings("a.all-tp-btn").find("i").css({"transform":"rotate(0deg)"})
            })
        })
    });

    //下拉列表点空白的时候消失
    $(".pull-list").bind('click',function(e){
        stopPropagation(e);
    });
    $(document).bind('click',function(){
        $(".all-tp-list").slideUp();
        $(".all-tp-btn").attr("index","1");
        $(".all-tp-btn").find("i").css({"transform":"rotate(0deg)"});
    });
    function stopPropagation(e) {
        if (e.stopPropagation)
            e.stopPropagation();
        else
            e.cancelBubble = true;
    }
</script>
</body>
</html>
<? require(ViewDir.'/footer.html'); ?>