<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../../Static/1.0/css/sell-common.css">
    <link rel="stylesheet" href="../../../Static/1.0/css/dataPage.css">
    <link rel="stylesheet" href="../../../Static/1.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../../Static/1.0/js/jquery-1.8.3.min.js"></script>
    <!--<link rel="stylesheet" href="css/style.css">-->
</head>
<body>
<div class="yzc-sell-main">
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3 class="fl">数据共享</h3>
            <div class="pull-list  fr">
                <a class="cir all-tp-btn"><font>2016年10月</font><i class="fa fa-chevron-down"></i></a>
                <ul class="all-tp-list" style="display: none;">
                    <li>
                        2016年09月
                    </li>
                    <li>
                        2016年08月
                    </li>
                </ul>
            </div>
        </div>
        <div class="data-index-main">
            <div class="data-tit f-clearfix">
                <h3>一只蝉 - 2016年09月数据分析报告</h3>
                <label>本报告由www.yizhchan.com (一只蝉知识产权交易平台)提供</label>
            </div>
            <h3 class="data-cont-title title-lis-sty  f-clearfix"><label class="tit-leb">销售数据分析</label></h3>
            <div class="data-cont-price cont-price-top  f-clearfix ">
                <div class="data-cont-pMain ">
                    <font>2016年10月出售的商品中，最易出售的定价范围为</font><br/>
                    <p class="data-cont-tj">
                        <i>1 - 2</i>W元
                    </p><br/>
                    <label>占出售商品定价范围的 50%</label><br/>
                    <font>其余出售定价占比分别为</font><br/>
                    <p class="data-cont-Patio">
                        <a>1w以下 20%    </a>   |<a>2-4w 15%   </a>   |<a>4-8W 10% </a>   |<a>8W以上 5%</a>
                    </p>
                </div>
            </div>
            <div class="data-cont-ratio f-clearfix">
                <ul>
                    <li>
                   <span>
                       <b class="more">7</b>%
                   </span>
                        <label>包装后商品出售几率</label>
                    </li>
                    <li>
                   <span>
                       <b class="less">0.025</b>%
                   </span>
                        <label>未包装后商品出售几率</label>
                    </li>
                </ul>
                <p>商品包装后的出售几率是为包装商品的<em> 2545 </em>倍</p>
            </div>
            <h3 class="data-cont-title data-lis-sty f-clearfix "><label class="tit-leb">访客数据分析</label></h3>
            <div class="data-cont-analy f-clearfix f-hidden">
                <div class="cont-analy-top f-clearfix f-hidden">
                    <div class="cont-analy-lf fl">
                        <p  class="analy-title"><label>热门分类前十名</label></p>
                        <ul class="colum-chart f-clearfix">
                            <li>
                                <span class="colum1"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>
                            <li>
                                <span class="colum2"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>
                            <li>
                                <span class="colum3"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>

                            <li>
                                <span class="colum4"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>

                            <li>
                                <span class="colum5"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>

                            <li>
                                <span class="colum6"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>

                            <li>
                                <span class="colum7"></span>
                                <label>
                                    第三类<br/>
                                    化工原料
                                </label>
                            </li>

                        </ul>
                    </div>

                    <div class="cont-analy-rg fr">
                        <p  class="analy-title"><label>大家最爱搜索的关键字</label></p>
                        <div class="cont-analy-span f-clearfix">
                            <span>人工智能</span><span>人工智能</span><span>人工智能</span><span>人工智能</span><span>人工智能</span><span>人工智能</span><span>人工智能</span><span>人工智能</span>
                        </div>
                    </div>
                </div>
                <div class="f-clearfix">
                    <div class="cont-roun-chart fl add-sty">
                        <p  class="analy-title"><label>最受欢迎的组合类型</label></p>
                        <div id="container1" class="container"></div>
                        <label class="roun-chart-leb">
                            <font>中+图  21.56% </font>   <font> 纯中文 18.48%</font>     <font>纯英文 17.54%</font>
                            <font> 纯图形 16.11% </font>    <font>中+英  7.11%</font>
                        </label>
                    </div>
                    <div class="cont-roun-chart fr">
                        <p  class="analy-title"><label>最受欢迎的商标字数</label></p>
                        <div id="container2"  class="container"></div>
                        <label class="roun-chart-leb">
                            <font>中+图  21.56% </font>   <font> 纯中文 18.48%</font>     <font>纯英文 17.54%</font>
                            <font> 纯图形 16.11% </font>    <font>中+英  7.11%</font>
                        </label>
                    </div>
                </div>

            </div>
            <div class="cont-roun-btm">
                <p>
                    本报告由www.yizhchan.com (一只蝉知识产权交易平台)提供
                </p>
                <a class="data-cont-btn">下载报告</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript">
    var dom1 = document.getElementById("container1");
    var dom2 = document.getElementById("container2");
    var myChart1 = echarts.init(dom1);
    var myChart2 = echarts.init(dom2);
    var app = {};
    option = null;
    option = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'纯中文'},
                    {value:310, name:'纯英文'},
                    {value:234, name:'纯图形'},
                    {value:135, name:'中+英'},
                    {value:1548, name:'中+图'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart1.setOption(option, true);
        myChart2.setOption(option, true);
    }

    //下拉列表
    var cbtn=$(".all-tp-btn");
    var plist= $(".all-tp-list");
    cbtn.attr("index","1");
    var dinx=cbtn.attr("index");
    cbtn.each(function(){
        $(this).click(function(){
            var dinx= $(this).attr("index");
            if(dinx==1){
                $(this).siblings("ul").slideDown();
                $(this).attr("index","2");
                $(this).find("i").css({"transform":"rotate(180deg)"})
            }
            else if(dinx==2){
                $(this).siblings("ul.all-tp-list").slideUp();
                $(this).attr("index","1");
                $(this).find("i").css({"transform":"rotate(0deg)"})
            }
        })
        $(this).siblings("ul.all-tp-list").find("li").each(function(){
            $(this).click(function(){
                $(this).parent().slideUp();
                $(this).parent().siblings("a.all-tp-btn").find("font").text($(this).text());
                $(this).parent().siblings("a.all-tp-btn").attr("index","1");
                $(this).parent().siblings("a.all-tp-btn").find("i").css({"transform":"rotate(0deg)"})
            })
        })
    })

    //下拉列表点空白的时候消失
    $(".pull-list").bind('click',function(e){
        stopPropagation(e);
    });
    $(document).bind('click',function(){
        $(".all-tp-list").slideUp();
        $(".all-tp-btn").attr("index","1");
        $(".all-tp-btn").find("i").css({"transform":"rotate(0deg)"});
    });
    function stopPropagation(e) {
        if (e.stopPropagation)
            e.stopPropagation();
        else
            e.cancelBubble = true;
    }
</script>
</body>
</html>