<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.0/css/sell-common.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/style.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/font-awesome.min.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/transfer.css">
    <script type="text/javascript" src="../../../Static/1.0/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
</head>
<body>
<div class="yzc-sell-main">
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3>我的商品单</h3>
        </div>
        <!--没有商品数据的时候-->
        <div class="trans-cj f-clearfix f-hidden">
            <div class="trans-no-data">
                <div class="trans-ts-xx">
                    <img src="../../../Static/1.0/images/trans-no-data.png">
                    <h6>您还未添加商标</h6>
                </div>
                <a class="sub-btn cir">创建商品单</a>
            </div>
        </div>

        <div class="trans-cj-wap f-hidden f-clearfix">
            <h4>10秒生成商标报价单  /   手机也能看  /   美观大方</h4>
             <ul>
                 <li>
                     <img src="../../../Static/1.0/images/trans-wap1.jpg">
                     <label>商务样式商品单</label>
                 </li>
                 <li>
                     <img src="../../../Static/1.0/images/trans-wap2.jpg">
                     <label>现代样式商品单</label>
                 </li>
             </ul>
        </div>

    </div>
</div>
</body>
</html>