<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.0/css/sell-common.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/style.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/font-awesome.min.css?v=<?=$static_version?>">
    <!--新加的CSS-->
    <link rel="stylesheet" href="../../../Static/1.0/css/transfer.css">
    <script type="text/javascript" src="../../../Static/1.0/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>

</head>
<body>
<div class="yzc-sell-main">
    <div class="sell-lf-main">
        <div class="comm-list-tit sell-by-brand w-cont">
            <h3 class="fl">我的商品单 ><label>创建商品单</label></h3>
        </div>
        <ul class="trans-brand-de w-cont">
            <li>
                <label><em>*</em>商品单名称</label>
                <div>
                    <input type="text"/>
                    <span>用于您自行查看所用，比如“<font>为客户xx创建的推荐商品列表</font>”</span>
                </div>
            </li>
            <li>
                <label><em>*</em>商品单名称</label>
                <div>
                    <textarea placeholder="感谢您的支持，特意为您选择的商标，敬请查看"></textarea>
                    <span>用于展示给您的客户查看，最多可输入30个中文。例“<font>感谢您的支持，特意为您选择的商标，敬请查看</font>”</span>
                </div>
            </li>
        </ul>
        <div class="trans-box">
            <div class="add-brand">
                <label class="fl">请输入商标号</label>
                <div class="add-brand-lf">
                    <p>
                        <input type="text"/><a class="trans-btn">添加商标</a>
                    </p>
                    <span>每条商品单最多可添加12条商品，商标号之间可以空格进行区分，例如：123456 231456</span>
                </div>
            </div>
            <div class="trans-bd-list">
                <!--没有商品数据的时候-->
                <!--<div class="trans-no-data">-->
                    <!--<div class="trans-ts-xx">-->
                        <!--<img src="../../../Static/1.0/images/trans-no-data.png">-->
                        <!--<h6>您还未添加商标</h6>-->
                    <!--</div>-->
                    <!--<label>请先输入商标号，并点击 添加商标 按钮</label>-->
                <!--</div>-->
                <!--有数据 数据列表-->

                <table class="tras-tab2 otab">
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上1</a>
                                <a class="z-down">向下1</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上2</a>
                                <a class="z-down">向下2</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上3</a>
                                <a class="z-down">向下3</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上4</a>
                                <a class="z-down">向下4</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上5</a>
                                <a class="z-down">向下5</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上6</a>
                                <a class="z-down">向下6</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tras-pic-show">
                            <div>
                                <span>
                                     <img src="../../../Static/1.0/images/lb-pic.jpg">
                                </span>
                                <a>上传图片</a>
                            </div>
                            <em></em>
                        </td>
                        <td class="tras-bd-det">
                            <p><label>商标号：1234545154 </label><label>商标名称:环球格物</label><label>商标分类：第三类</label> </p>
                            <em></em>
                        </td>
                        <td class="tras-bd-oper">
                            <p class="rad">
                                <input type="radio" checked="true"/>
                            </p>
                            <p class="yj">议价</p>
                            <p class="pre">
                                价格:<input type="text" class="sell-ip-box"/>元
                            </p>
                            <div class="pull-list paging">
                                <a class="cir all-tp-btn"><font id="size_income">选择标签</font><i class="fa fa-chevron-down"></i></a>
                                <ul class="all-tp-list" style="display: none;">
                                    <li>推荐</li>
                                    <li>热门</li>
                                    <li>性价比高</li>
                                </ul>
                            </div>
                            <p class="down-up">
                                <a class="z-up">向上7</a>
                                <a class="z-down">向下7</a>
                            </p>
                            <em></em>
                        </td>
                        <td class="del">
                            <a class="remove">删除</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <!--创建商品单-->
        <div class="trans-bd-form">
            <div class="amend-cont-all f-clearfix f-hidden">
                <!--联系人信息完整可以修改-->
                <div class="amend-cont cir">
                    <label style="margin-top: 0px;">联系电话：</label>
                    <div class="cg-cont-tel">
                        <span class="contact_mobile">18215565512</span>
                    </div>
                    <label style="margin-top: 0px;">联系人：</label>
                    <div class="cg-cont-name">
                        <span class="contact_name">xiao先生</span>
                    </div>
                    <div class="cg-tel">
                        <a href="javascript:;" class="xg_mobile" addmsg="修改联系方式" module="根据商标号出售">修改联系方式</a>
                    </div>
                </div>
                <div class="cir tran-set-head">
                    <label>头像设置：</label>
                    <span><input type="radio"/>默认头像女</span>
                    <span><input type="radio"/>默认头像男</span>
                    <span><input type="radio"/>无需头像</span>
                    <span><input type="radio"/>使用我当前头像</span>
                </div>
                <div class="cir tran-set-head">
                    <label>表单风格：</label>
                    <span><input type="radio"/>商务风格</span>
                    <span><input type="radio"/>现代风格</span>
                </div>
            </div>
            <div id="nicaicai" style="display: none">
                <!--显示内容-->
                <div class="cc1 ">
                    <label>联系电话：</label>
                    <div class="cg-cont-tel">
                        <span class="contact_mobile">18215565512</span>
                    </div>
                    <label>联系人：</label>
                    <div class="cg-cont-name">
                        <span class="contact_name">xiao先生</span>
                    </div>
                    <div class="cg-tel">
                        <a href="javascript:;" class="xg_mobile" addmsg="修改联系方式" module="根据商标号出售">修改联系方式</a>
                    </div>
                </div>
                <!--修改框-->
                <div class="cc2">
                    <div class="incomp f-hidden">
                        <label>联系电话：</label>
                        <div class="cg-cont-tel">
                            <input value="18215565512" class="cir blk c_tel" type="text">
                        </div>
                        <label>联系人：</label>
                        <div class="cg-cont-name">
                            <input class="cir blk c_name" value="xiao先生" type="text">
                        </div>
                        <div class="cg-tel">
                            <a class="cir sear-btn cg-sear">确定修改</a><a class="cir qx-btn cg-qx">取消</a>
                        </div>
                        <p class="cir blk inc-ts" style="display: none">请至少添加一条商标数据</p>
                    </div>
                </div>
            </div>
            <div class="tr-btn-sub f-clearfix f-hidden">
                <a class="sub-btn cir" id="add_goods">
                    创建商品单
                </a>
                <a class="cir qx-btn batch-del tr-yl">
                    <img src="../../../Static/1.0/images/tr-yl.png">预览
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../Static/1.0/js/table-list.js?v=<?=$static_version?>"></script>
<script type="text/javascript" src="../../../Static/1.0/js/sell.js?v=<?=$static_version?>"></script>
<script type="text/javascript">
    //删除
    $(".remove").live("click",function(){
        $(this).parents("tr").remove();
    })
   //通过点击复选框改变议价状态
   var oinps=$(".tras-tab2").find("input[type='radio']");
       oinps.attr("judge","1");
       oinps.each(function(){
           $(this).live("click",function(){
               var ojdg=oinps.attr("judge");
               if(ojdg==1){
                   $(this).attr("checked",false);
                   $(this).parents().siblings(".pre").css({"display":"none"});
                   $(this).parents().siblings(".yj").css({"display":"block"});
                   oinps.attr("judge","2");
               }
               if(ojdg==2){
                   $(this).attr("checked",true);
                   $(this).parents().siblings(".pre").css({"display":"block"});
                   $(this).parents().siblings(".yj").css({"display":"none"});
                   oinps.attr("judge","1");
               }
           })
       })
   //点击向上 向上 移动
   function upDown(){
       var otr=$(".otab").find("tr");
       otr.each(function(e){
           var othis=$(this);
           var obf=othis.prev();
           var oaf=othis.next();
           var oup=$(this).find("a.z-up");
           var odown=$(this).find("a.z-down");
           oup.live("click",function(){
               obf.before(othis);
           })
           odown.live("click",function(){
               oaf.after(othis);
           })
       })
   }
   upDown();

</script>
</body>
</html>