<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../Static/1.0/css/sell-common.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="../../../Static/1.0/css/font-awesome.min.css?v=<?=$static_version?>">
    <!--新加的CSS-->
    <link rel="stylesheet" href="../../../Static/1.0/css/search.css">
</head>
<body>
 <div class="sea-head">
     <div class="w1300">
         <div class="fl">
             <a class="s-lg" href=""><img src="../../../Static/1.0/images/sell-lg-nw.png"></a>
             <a href="">
                 <i class="ico s-tp1"></i>
                 商标出售
             </a>
             <a href="">
                 <i class="ico s-tp2"></i>
                 数据共享
             </a>
             <a href="">
                 <i class="ico s-tp3"></i>
                 商标报价单工具
             </a>
             <a href="">
                 <i class="ico s-tp4"></i>
                 商标安全检测工具
             </a>
         </div>
         <div class="fr">
             <a>去一只蝉看看</a>
             <a><img src="../../../Static/1.0/images/s-tp-tel.png"></a>
         </div>
     </div>
 </div>
<div class="sear-main">
    <div class="sear-cet-ms"></div>
    <div class="sear-btm-bg">
        <div class="w1300">
            <ul class="sear-exper">
                <li>
                    <h3>检测专业全面</h3>
                    <label>24道检测工序，13种风险核查机制，准确率95.93%</label>
                </li>
                <li>
                    <h3>10秒快速完成</h3>
                    <label>输入商标号一键自动检测，10秒出结果</label>
                </li>
                <li>
                    <h3>报告免费下载</h3>
                    <label>无风险放心购！让商标质量检测报告帮您说话</label>
                </li>
            </ul>
            <a class="imm-expe" href="">马上体验</a>
        </div>
    </div>
</div>
<div class="search-btm">
    <label>ICP证：蜀ICP备15035613号-1 违法和不良信息举报电话: 028-110 Copyright © 2002 - 2016</label>
    <p>
        <a href="">一只蝉</a> | <a href="">出售者平台  </a> |<a href="">商标报价单工具  </a>| <a href="">商标安全检测工具</a>
    </p>
</div>
</body>
</html>