<? require(ViewDir.'/public/header.html'); ?>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
  	<section class="panel">
        <header class="panel-heading mc_top">
            <span class="float-left">消息中心</span>
            <form class="bs-example bs-example-form" role="form">
			<div class="input-group mc_top_search">
			<input type="text" class="form-control" id="search-key" placeholder="请输入关键字">
			<span class="input-group-addon mc_top_bg" id="search-btn"><i class="icon-search"></i></span>
			</div>
			</form>
        </header>
		<? if($data['total'] == 0) { ?>
                <div class="panel-body" style="height:100%; min-height:550px;">
                    <div class="nodata">
                        <div class="icon1">暂无数据</div>
					</div>
                </div>			
		<? }else{ ?>
		<div class="panel-body">
			<label class="btn btn-white text-muted checkAllBtn"><input type="checkbox" id='checkAll'/>全选</label>
			<button class="btn btn-white text-muted" id="markBtn" data-toggle="button" href="javascript:;">标记为已读</button>
			<button class="btn btn-white text-muted" data-toggle="button" href="javascript:;" onclick="delAll('')"><i class="icon-trash"></i> 删除</button>
		</div>
		
<div class="panel-group mc_tab_div" style="margin:15px;" id="accordion">
<? foreach($data['rows'] as $item) { ?>
  <div class="panel no-border-radius">
    <div class="panel-heading mc_border_bottom">
      <h4 class="panel-title">
		<input type="checkbox"  class="checkid" name="c_id[]" value="<?=$item['id']; ?>" />
        <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapse<?=$item['id']?>" class="collapsetitle"  isread="<?=$item['isRead']?>">
          <? if ($item['isRead'] == 1){ echo '<span style="font-weight:normal;">'.mbSub($item['title'],0,25).'</span>';} else { echo '<span style="font-weight:bold;">'.mbSub ($item['title'],0,25).'</span>'; }?>
		  <span class="pull-right"><? echo date('Y-m-d H:i:s',$item['created']) ?></span>
        </a>
      </h4>
    </div>
    <div id="collapse<?=$item['id']?>" class="collapse">
      <div class="panel-body">
		<p style="margin-left:45px;word-break: break-word;word-break: break-all;">
			<?=$item['message']?>
		</p>
      </div>
    </div>
  </div>
<? } ?>
</div>
		    <div class="row">
              <?=$pageBar?>
            </div>
			
		<? } ?>
    </section>
  
  </section>
  <!--main content end--> 
</section>

<script type="text/javascript">
$('.checkAllBtn').click(function(){
	if($('#checkAll').prop("checked") == true){
		$(".checkid").prop("checked",true);
	}else{
		$(".checkid").removeAttr("checked");
	}	
})
$(".collapsetitle").click(function(){
	var showid = $(this).prev().val();
	if($(this).attr("isread") == 0){		
		$(this).attr("isread",1);
		$(this).find("span").css("font-weight","normal");
		var messageCount = $("#message-count").html();
		//alert(parseInt(messageCount));
		if(parseInt(messageCount) > 0 ){
			messageCount = messageCount - 1;
			$("#message-count").html(messageCount);
		}		
		$.ajax({
			type: 'GET',
			url : '/message/readAll/',
			data: {idlist:showid,'times': new Date().getTime()},
			dataType:'json',
			success:function(data){}
		})		
	}
})
//删除勾选
function delAll(check){
	if(check == ''){
		var check = ischeck();
		if(check == false){ return false; }
	}

	$.ajax({
		type: 'GET',
		url : '/message/delAll/',
		data: {idlist: check},
		dataType:'json',
		success:function(data){
			layter_msg(data , 0, '');
			setTimeout('location.reload();',3000);
		},
		error: function(data){
			layter_msg('网络错误' , 0, '');
		}
	})
}
//标记为已读
$("#markBtn").click(function(){
	var check = ischeck();
	if(check == false){ return false;}
	$(this).unbind("click");
	$.ajax({
		type: 'GET',
		url : '/message/readAll/',
		data: {idlist:check},
		dataType:'json',
		success:function(data){
			layter_msg(data , 0, '');
			setTimeout('location.reload();',3000);
		},
		error: function(data){
			layter_msg('网络错误' , 0, '');
		}
	})	
})

function ischeck(){
	if($('.checkid:checked').length == 0){
		layter_msg('你未勾选信息！' , 0, '');
		return false;
	}
	str = '';
	$('.checkid:checked').each(function(){
		str += $(this).val() + ",";
	})
	return str;
}
$("#search-btn").click(function(){
	location.href = '/message/index/?key='+$("#search-key").val();
})
</script>
<? require(ViewDir.'/public/footer.html'); ?>