<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" href="<?=StaticDir?>style/import-comm.css"/>
    <script src="<?=StaticDir?>script/jquery-1.8.3.min.js"></script>
    <script src="<?=StaticDir?>script/layer/layer.js"></script>
    <script src="<?=StaticDir?>script/public-common.js"></script>
    <script src="<?=StaticDir?>script/usernew.js"></script>
</head>
<body>
<!--header start-->
<div class="mj-header">
    <div class="w1180 f-clearfix">
        <ul class="mj-navLeft fl">
            <li><a href="/user/index/">首页</a></li>
            <li><a href="/user/main/">我的账户</a></li>
            <li><a href="/mytrade/index/">我的管理</a></li>
        </ul>
        <ul class="mj-navRight fr" onclick="consultation()" style="cursor:pointer; ">
            <li>
                <label><img src="<?=StaticDir?>style/img/header_img.jpg" alt="" style="cursor:pointer; "/></label>
            </li>
            <li>
            	<a href="javascript:;"  class="link1">客服在线</a>
                <p>万野</p>
            </li>
        </ul>
    </div>
</div>
<!--header end-->