<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>/1.0/css/transfer.css?v=<?=$static_version?>"> 
<style type="text/css">
	a{color:#000;}
  </style>
<div class="yzc-sell-main">
    <!--公用左边导航-->
    <? require(ViewDir.'/left.html'); ?>
    <!--内容-->
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3>我的商品单</h3>
        </div>
        <!--没有商品数据的时候-->
        <div class="trans-cj f-clearfix f-hidden">
            <div class="trans-no-data">
                <div class="trans-ts-xx">
                    <img src="<?=StaticDir?>/1.0/images/trans-no-data.png">
                    <h6>您还未添加商标</h6>
                </div>
                <a class="sub-btn cir" href="/quotation/addgoods" >创建商品单</a>
            </div>
        </div>
        <div class="trans-cj-wap f-hidden f-clearfix">
            <h4>10秒生成商标报价单  /   手机也能看  /   美观大方</h4>
            <ul>
                <li>
                    <div class="trans-cj-pic">
                        <a href="<?=C('template_1')?>" target="_blank">
                            <img src="<?=StaticDir?>/1.0/images/trans-wap2.jpg">
                            <span class="over-yy"></span>
                        </a>

                    </div>
                    <label>商务样式商品单</label>
                </li>
                <li>
                    <div class="trans-cj-pic">
                        <a href="<?=C('template_2')?>" target="_blank">
                            <img src="<?=StaticDir?>/1.0/images/trans-wap2.jpg">
                            <span class="over-yy"></span>
                        </a>
                    </div>
                    <label>现代样式商品单</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<? require(ViewDir.'/footer.html'); ?>