<tr>
    <td class="tras-pic-show">
        <!-- 是否有包装时-->
        <?if($info['is_tminfo']){?>
                <div class="add-form">
                    <span>
                        <img src="<?=$info['img']?>" style="max-width: 90px;max-height: 60px;">
                    </span>
                </div>
        <?}else{?>
            <form action='/quotation/ajaxUploadPic/' method='post' enctype='multipart/form-data'>
                <div class="add-form">
                    <span>
                        <img src="<?=$info['img']?>" style="max-width: 90px;max-height: 60px;">
                    </span>
                    <a >上传图片</a>
                    <input type="file"   name="fileName" class="upfile"  style="font-size:47px;overflow:hidden;cursor:pointer;border:0px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;width:38px;height:17px; position:relative;top: 3px;left:-48px;line-height:45px; opacity: 0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);"  />
                    <input type="hidden" name="size" value="2048" style="display: none;"/>
                </div>
            </form>
            <input type="hidden" name="image[]" value="" class="img_input">
        <?}?>

    </td>
    <td class="tras-bd-det">
        <p>商标号：<label class="number"><?=$info['number']?> </label><label>商标名称:<?=$info['name']?></label><label title="<?=$info['class_str']?>">商标分类：<?=$info['thum']?>类</label> </p>
        <input type="hidden" name="number[]" value="<?=$info['number']?>">
        <em></em>
    </td>
    <td class="tras-bd-oper">
        <div class="pull-list paging">
            <a class="cir lb-tp-btn cha-show" index="1" onclick="select($(this))"><font ><?if(!empty($itemInfo) && $itemInfo['price']==0)echo "议价";else echo "定价";?></font><i class="fa fa-chevron-down"></i></a>
            <ul class="all-tp-list" style="display: none;">
                <li class="dj-btn" onclick="dj($(this))">定价</li>
                <li class="yj-btn" onclick="yj($(this))">议价</li>
            </ul>
            <input type="hidden" name="price[]" class="price-list" data-type="<?if(!empty($itemInfo) && $itemInfo['price']==0)echo 2;else echo 1;?>" value="<?=$itemInfo['price']?>"/>
        </div>
        <p class="yj" <?if(!empty($itemInfo) && $itemInfo['price']==0) echo 'style="display:block;"';?>>议价</p>
        <p class="pre" <?if(!empty($itemInfo) && $itemInfo['price']==0) echo 'style="display:none;"';?>>
            价格:<input type="text" class="sell-ip-box" value="<?=$itemInfo['price']?>"/>元
        </p>
        <div class="pull-list paging">
            <a class="cir lb-tp-btn cho-tag" index="1" onclick="select($(this))"><font><?if(!empty($itemInfo))echo $label[$itemInfo['label']];else echo "选择标签";?></font><i class="fa fa-chevron-down"></i></a>
            <ul class="all-tp-list x-label" style="display: none;">
            <? foreach($label as $k=>$v): ?>
                <li data-type="<?=$k?>" onclick="hs($(this))"><?=$v?></li>
            <? endforeach; ?>
            </ul>
            <input type="hidden" name="label[]" class="label-list" value="<?=$itemInfo['label']?>"/>
        </div>
        <p class="down-up">
            <a class="z-up">向上1</a>
            <a class="z-down">向下1</a>
        </p>
        <em></em>
    </td>
    <td class="del">
        <a class="remove">删除</a>
    </td>
</tr>
