<? require(ViewDir.'/header.html'); ?>
<link rel="stylesheet" href="<?=StaticDir?>/1.0/css/transfer.css?v=<?=$static_version?>">
<script type="text/javascript" src="<?=StaticDir?>/1.0/js/simple-share.min.js?v=<?=$static_version?>"></script>
<script type="text/javascript" src="<?=StaticDir?>1.0/js/url.js?v=<?=$static_version?>"></script>
<style type="text/css">
	a{color:#000;}
  </style>
<div class="yzc-sell-main">
    <!--公用左边导航-->
    <? require(ViewDir.'/left.html'); ?>
    <!--内容-->
    <div class="sell-lf-main">
        <div class="comm-list-tit w-cont">
            <h3>我的商品单</h3>
        </div>
        <div class="comm-search-bg">
            <div class="desi w-cont">
                <label>商品单名称</label>
                <input type="text" class="cir goods_name" value="<?=$name?>"/>
                <a href="javascript:;"  class="cir sear-btn">立刻搜索</a>
            </div>
        </div>
        <div class="tras-box">
            <div class="list-mess-top f-clearfix">
                <div class="mess-top-dq fr">当前共有<label><?=$total?></label>条商品数据
                    <div class="pull-list paging">
                        <a class="cir all-tp-btn" index="1">每页<font class="now_size"><?=$size?></font><i class="fa fa-chevron-down"></i></a>
                        <ul class="all-tp-list" style="display: none;top:25px !important;">
                            <li>
                                20
                            </li>
                            <li>
                                40
                            </li>
                            <li>
                                60
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tras-blk f-hidden f-clearfix">
                <table class="tras-tab">
                    <thead>
                    <th>商品单标题</th> <th>包含商品</th> <th>创建时间</th> <th style="text-indent: 24px;">操作</th>
                    </thead>
                    <tbody class="list-mess">
                    <? foreach($list as $k=>$v): ?>
                    <tr>
                        <td><?=$v['title']?></td>
                        <td><?=($v['count']?:0)?></td>
                        <td><?=$v['created']?></td>
                        <td class="oper">
                            <input type="hidden" class="view_url" value="<?=$v['view_url']?>">
                            <input type="hidden" class="now_id" value="<?=$v['id']?>">
                            <a href="/quotation/getImg/?id=<?=$v['id']?>" target="_blank" class="to_img"><i><img src="<?=StaticDir?>/1.0/images/dc-ico.png"></i>导出图片</a>
                            <a href="<?=$v['view_url']?>" target="_blank" class="to_view"><i><img src="<?=StaticDir?>/1.0/images/list-tr-yl.png"></i>预览</a>
                            <a href="javascript:;" class="to_copy" id="copy<?=$k?>">拷贝网址</a>
                            <a href="javascript:;" class="to_sina">微博</a>
                            <a  href="javascript:share.weixin(function(qr){$('.wxt').attr('src',qr);tc();});" class="to_weixn">朋友圈</a>
                            <em></em>
                            <a href="/quotation/editgoods/?id=<?=$v['id']?>">编辑</a>
                            <a href="javascript:;" class="remove">删除</a>
                        </td>
                    </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
            <div class="tras-list-btm f-clearfix ">
                <div class="fl">
                    <a class="sub-btn cir" href="/quotation/addgoods">
                        创建商品单
                    </a>
                </div>
                <div class="comm-list-page fr">
                    <div class="mj-pages">
                        <?=$pageBar?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分享微信弹窗-->
<div class="wx-tc">
   <span>
        <img class="wxt" src="" />
   </span>
    <p>分享到微信朋友圈</p>
</div>

<script type="text/javascript" src="<?=StaticDir?>/1.0/js/copy/ZeroClipboard.js?v=<?=$static_version?>"></script>
    <script type="text/javascript">
        //分享
        var share = new SimpleShare({
            url: location.href,
            pic: '<?=SELLER_URL.StaticDir?>1.0/images/share.jpg'
        });
        //分享事件-朋友圈
        function tc(){
            layer.open({
                area:["542px","415px"],
                type: 1,
                title: false,
                closeBtn:1,
                shadeClose:false,
                content:$(".wx-tc")
            });
        }

        $(function(){
        var title = document.title;
        var content = '';
        var pic = '<?=SELLER_URL.StaticDir?>1.0/images/share.jpg';
        //给按钮绑定复制事件
        var copys = $('.to_copy');
        copys.each(function(){
            var url = $(this).closest('.oper').find('.view_url').val();
            var id = $(this).attr('id');
            clipboard(id,url);
        });
        //table偶数行变色
        cg_tbcolor();
        //删除
        $(".remove").live("click",function(){
            var _this = this;
            layer.confirm('您确定删除选中的报价单吗?',{btn: ['确定','取消']},function(){
                var id = $(_this).closest('.oper').find('.now_id').val();
                if(id){
                    //删除商品单
                    $.post('/quotation/remove',{id:id},function(data){
                        if(data.code==0){
                            layer.msg('删除成功');
                            $(_this).closest('tr').remove();
                        }else{
                            layer.msg(data.msg);
                        }
                    },'json');
                }
            });
        });
        //搜索
        $('.sear-btn').click(function(){
            buildUrl();
        });
        //每页大小改变
        $('.mess-top-dq li').click(function(){
            var size = $.trim($(this).text());
            buildUrl({size:size});
        });
        //页码点击事件
        $('.mj-pages a').click(function(){
            var href = $(this).attr('href');
            if(href=='javascript:;'){
                return false;
            }else{
                var page = href.split('=');
                var index_page = page.length-1;
                page = page[index_page];
                buildUrl({page:page});
                return false;
            }
        });
        //分享事件-微博
        $('.to_sina').click(function(){
            var url = $(this).closest('.oper').find('.view_url').val();
            share_event({url:url,title:title,content:content,pic:pic});
        });
        //分享事件-朋友圈
        $('.to_weixn').click(function(){
            var url = $(this).closest('.oper').find('.view_url').val();
            share_event({url:url,title:title,content:content,pic:pic},1);
        });
    });
    //复制事件
    function clipboard(button,text) {
        if (window.clipboardData) {    //for ie
            var copyBtn = document.getElementById(button);
            copyBtn.onclick = function () {
                window.clipboardData.setData('text', text);
                layer.msg('复制成功!',{
                    time:1500
                });
            }
        } else {
            var client = new ZeroClipboard($("#" + button));
            client.on('ready', function (event) {
                client.on('copy', function (event) {
                    event.clipboardData.setData("text/plain", text);
                    layer.msg('复制成功!',{
                        time:1500
                    });
                });
            });
            client.on('error', function (event) {
                layer.msg('复制失败!',{
                    time:1500
                });
                ZeroClipboard.destroy();
            });
        }
        return false;
    }
    //url处理跳转
    function buildUrl(obj){
        var page = obj.page;
        var size = obj.size;
        var myurl = new objURL(location.href);//url处理对象
        //商品名
        var name = $.trim($('.goods_name').val());
        if(name){
            myurl.set('name',name);
        }else{
            myurl.remove('name');
        }
        //页码大小
        if(size===undefined){
            size = $.trim($('.now_size').text());
        }
        if(size==20){
            myurl.remove('size');
        }else{
            myurl.set('size',size);
        }
        //分页
        if(page===undefined || page<=1){
            myurl.remove('page');
        }else{
            myurl.set('page',page);
        }
        location.href=myurl.url();
    }
    //分享事件
    function share_event(obj,type){
        if(typeof type=='undefined') type=0;
        var share = new SimpleShare({
            url: obj.url,
            title: obj.title,
            content: obj.content,
            pic: obj.pic
        });
        if(type==0){
            share.weibo();
        }else{
            share.weixin(function(qr){
                alert(qr);
            })
        }
    }
</script>
    <? require(ViewDir.'/footer.html'); ?>