<!DOCTYPE html>
<html>
<head>
    <title><?=$title?></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/common.css">
    <link rel="stylesheet" href="<?=StaticDir?>1.0/css/trans.css">
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/jquery-1.8.3.min.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/layer/layer.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.0/js/data-total.js?v=<?=$static_version?>"></script>
    <script type="text/javascript" src="http://data.chanshu.wang/data.js?v=<?=$static_version?>"> </script>
    <script type="text/javascript">
        var ptype = '<?=$ptype?>';//页面标识
        //适配rem的兼容代码
        (function(doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function() {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth)
                            return;
                        if (clientWidth >= 770) {
                            docEl.style.fontSize = '100px';
                        } else {
                            docEl.style.fontSize = 100 * (clientWidth / 770) + 'px';
                        }
                        $("body").css({"opacity":"1"})
                    };
            if (!doc.addEventListener)
                return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
<header class="list-head">
    <div class="main">
        <!--<a class="fl" module="顶部6" addmsg="返回" href="javascript:;" onclick="if(document.referrer){history.go(-1);}else{location.href='/'};"><i></i><?=$page_title?></a>-->
        <a class="wap-head fl"><img src="<?=StaticDir?>1.0/images/wap-lg.png"></a>
        <div class="fr">
            <a id="share"><img src="<?=StaticDir?>1.0/images/arrw-ico1.png"></a>
            <a id="menu" module="顶部5" addmsg="菜单"><img src="<?=StaticDir?>1.0/images/arrw-ico2.png"></a>
        </div>
    </div>
</header>

<!--分享弹窗-->
<div class="yzc-share">
    <div class="yzc-share-bg"></div>
    <h3>我要把网页分享到</h3>
    <ul class="yzc-share-main">
        <li><a title="分享到QQ好友" href="javascript:share.qzone();setEvent('顶部7','分享QQ空间');" class="btn_qzone layui-layer-close"><span><img src="<?=StaticDir?>1.0/images/qqkj.png"><br/>QQ空间</span></a></li>
        <li><a title="分享到新浪微博" href="javascript:share.weibo();setEvent('顶部7','分享微博');" class="btn_sina layui-layer-close"><span><img src="<?=StaticDir?>1.0/images/wb.png"><br/>微博</span></a></li>
        <li><a id="aaa" title="分享到微信" href="javascript:share.weixin(function(qr){$('.wxt').attr('src',qr);tc();});setEvent('顶部7','分享微信');" class='btn_weixin layui-layer-close'><span><img src="<?=StaticDir?>1.0/images/wx.png"><br/>微信</span></a></li>
    </ul>
</div>
</div>
<!--分享微信弹窗-->
<div class="wx-tc">
   <span>
        <img class="wxt" src="" />
   </span>
    <p>分享到微信朋友圈</p>
</div>

   <div class="qu-ban">
       <div class="trans-head">
           <? if($list['avatar']): ?>
                <span>
                      <img src="<?=$list['avatar']?>">
                </span>
           <? endif; ?>
       </div>
       <h4>商品单<br/><label>Commodity list</label></h4>
       <h3><?=$list['desc']?></h3>
       <p>
           <a href="tel:18618427998">
             <img src="<?=StaticDir?>1.0/images/trans-tel.png"><?=$list['phone']?>
           </a>
           <a href="tel:18618427998">
               <img src="<?=StaticDir?>1.0/images/trans-qq.png"><?=$list['qq']?>
           </a>
       </p>
   </div>
   <div class="trans-detal">
       <? foreach($list['data'] as $k=>$v): ?>
       <? if($k): ?>
       <div class="trans-earth">
           <span>下一条</span>
       </div>
       <? endif; ?>
       <div class="trans-tit">
           <h2><?=$v['trademark']?></h2>
           <? if(count($v['class'])>1): ?>
           <h6>多类</h6>
           <? else: ?>
           <h5>商标分类第<? $str = array_keys($v['class']);echo $str[0]; ?>类 - <?=array_pop($v['class'])?></h5>
           <? endif; ?>
       </div>
       <a href="">
           <div class="trans-tj-pic">
               <? if($v['label']): ?>
               <span><?=$label[$v['label']]?></span>
               <? endif; ?>
               <img src="<?=$v['img']?>" onerror="this.src='<?=StaticDir?>images/img1.png'">
           </div>
       </a>

       <p class="d-pri">售价：<b>35000</b>元</p>
       <p class="des">
           <?=$v['goods']?>
       </p>
       <? endforeach; ?>
       <div class="trans-earth">
           <span>到底了噢</span>
       </div>
   </div>
<script type="text/javascript" src="<?=StaticDir?>1.0/js/simple-share.min.js?v=<?=$static_version?>"></script>
<script type="text/javascript">
    function tc(){
        layer.open({
            area:["80%","5.57rem"],
            type: 1,
            title: false,
            closeBtn:1,
            shadeClose:false,
            content:$(".wx-tc")
        });
    }
</script>
</body>
</html>