<? require(ViewDir.'/public/header.html'); ?>
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <section class="panel">
      <header class="panel-heading"><span>我的顾问</span></header>
      <div style="background-color:#FFF;">
      <?php
            $staffInfo = count($staffInfo) > 0 ? $staffInfo : array(0=>array());
            foreach( $staffInfo as $k => $staff ){
       ?>
      <div class="panel-body body-relative guwen">
        <header>
          <a href="#" class="task-thumb">
              <img src="<?=!empty($staff['staff']['pic']) ? $staff['staff']['pic'] : '/Static/style/img/g-mm.png';?>" alt="" width="90" height="90">
          </a>
          <div class="task-thumb-details">
              <h2><a href="#"><?=!empty($staff['staff']['name']) ? $staff['staff']['name'] : '无';?></a></h2>
              <p>客服在线</p>
          </div>
        </header>
        
        <div class="cus-pos">
          <p><button type="button" class="btn btn-success" onclick="consultation()"><i class="icon-user"></i>我要咨询</button> </p>
          <p>
          <button type="button" class="btn btn-default evaluate" data-toggle="modal" data-target="#evaluate" data-sid="<?=$staff['staff']['id']?>"><i class="icon-edit"></i>对他评价</button>
          </p>
        </div>
        <ul class="tellist">
          <li>
            <i class="icon-phone float-left"></i>
            <div class="float-left">
              <p class="p1">专属客服座机：</p>
              <p class="p2"><?=!empty($staff['staff']['companytel']) ? $staff['staff']['companytel'] : '无';?></p>
            </div>
          </li>
          <li>
            <i class="icon-phone float-left"></i>
              <div class="float-left">
              <p class="p1">专属客服手机：</p>
              <p class="p2"><?=!empty($staff['staff']['mobile']) ? $staff['staff']['mobile'] : '无';?></p>
            </div>
          </li>
          <li>
            <i class="icon-phone float-left"></i>
              <div class="float-left">
              <p class="p1">专属客服邮箱：</p>
              <p class="p2"><?=!empty($staff['staff']['email']) ? $staff['staff']['email'] : '无';?></p>
            </div>
          </li>
          <li>
            <i class="icon-phone float-left"></i>
              <div class="float-left">
              <p class="p1">性别：</p>
              <p class="p2"><?=!empty($staff['staff']['sexname']) ? $staff['staff']['sexname'] : '无';?></p>
            </div>
          </li>
          <li>
            <i class="icon-phone float-left"></i>
            <div class="float-left">
              <p class="p1">岗位：</p>
              <p class="p2"><?=!empty($staff['staff']['jobs']) ? $staff['staff']['jobs'] : '无';?></p>
            </div>
          </li>
        </ul>
      </div>
      <?php
      }
      ?>
      </div>
    </section>
  </section>
  <!--main content end--> 
</section>
<? require(ViewDir.'/public/footer.html'); ?>
