.mj-reHeader{
    padding: 30px 0;
    background: #fff;
    border-bottom: solid 2px #fc7d28;
    overflow: hidden;
}
.mj-Tnav_log{
    margin-right: 13px;
    padding:14px 14px 0 0;
    display: inline-block;
    border-right: solid 1px #dddddd;
}
.mj-reHeader>div b{
    font-size: 28px;
    color: #999;
    font-weight: normal;
}
.mj-reHeader>div p{
    font-size: 12px;
    color: #333;
    text-align: right;
}
.mj-reHeader>div p a{
    color: #4b9de7;
}


.mj-reCenter{
    padding: 42px 47px 46px;
    margin: 115px auto;
    width: 320px;
    background: #fff;
    border: solid 1px #ddd;
}
.mj-reC_top{
    padding-bottom: 45px;
}
.mj-reC_top label{
    display: inline-block;
    width: 110px;
    border-bottom: solid 1px #eee;
    vertical-align: middle;
}
.mj-reC_top span{
    padding: 0 9px;
    font-size: 18px;
    color: #666;
}
.mj-reCenter ul{}
.mj-reCenter li{
    position: relative;
    margin-bottom: 15px;
}
.mj-reCenter li p{
    position: relative;
}
.mj-reCenter li input[type="text"]{
    padding-left: 12px;
    width: 293px;
    height: 35px;
    border: solid 1px #CCCCCC;
    border-radius:2px;
    outline: none;
}
.mj-reCenter li span,.mj-reEmall_bottom li span{
    font-size: 12px;
    color: #fc7d28;
}
.mj-reCenter li strong{
    position: absolute;
    display: block;
    right: 14px;
    top: 1px;
    width: 108px;
    height: 35px;
    background: #deffd4;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    color: #4e9b37;
    font-weight: normal;
    cursor: pointer;
}
.mj-reCenter li input[type="checkbox"]{
    vertical-align: middle;
}
.mj-reCenter li i{
    position: absolute;
    right: 20px;
    top: 15px;
}
.mj-reCenter li label{
    font-size: 12px;
    color: #333;
}
.mj-reCenter li label a{
    color: #333;
}
.mj-reCenter li>a{
    display: block;
    width: 306px;
    height: 35px;
    background: #fc7d28;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
}

/*登陆样式修改*/
#usrNameTip_popup{
    display: none;
}
.usrNameTip_popupT{
    border:1px solid #FFDDB2;
    background: #FFF7E1;
    padding: 5px 20px;
    margin-bottom:15px;
    width: 306px;
        box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}
#usrName_popup{
    width: 182px;
    vertical-align: top;
}
.username_popup{
    width: 100px;
    height: 37px;
    line-height: 37px;
    color:#fff;
    background: #6FA3FF;
    border-radius:2px;
    outline:none;
    margin-left:10px;
    border: none;
    vertical-align: middle;
}

/*ÓÊÏäÑéÖ¤*/
.mj-reEmall{
    position: relative;
    width: 580px;
    margin: 62px auto;
    background: #fff;
}
.mj-reEmall_top{
    width: 570px;
    height: 2px;
}
.mj-ebimg{
   background: url(img/mj-img8.png) no-repeat;
}
.mj-ebimgs{
    background: url(img/mj-img11.png) no-repeat;
}
.mj-reEmall_top p{
    position: absolute;
    top: -15px;
    width: 48px;
    text-align: center;
}
.mj-rep1{
    left: -7px;
}
.mj-rep2{
    right: 0;
}
.mj-rep3{
    left: 50%;
}
.mj-reEmall_top span{
    display: block;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    border-radius: 50%;
}
.mj-reEmall_top p label{
    margin-top: 12px;
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.mj-respanbk{
    margin-left: 7px;
    background: #fc7d28;
    color: #fff;
}
.mj-respanbs{
    color: #fc7d28;
    background: #fff;
    border: solid 3px #fc7d28;
}
.mj-reEmall_bottom{
    padding: 37px 30px 30px;
    margin: 115px auto;
    width: 355px;
    background: #fff;
    border: solid 1px #ddd;
}
.mj-reE_img{
    margin-left: 32px;
}
.mj-reE_img>span{
    display: inline-block;
    margin-top: 5px;
    float: left;
    height: 65px;
    padding-right: 20px;
}
.mjreE_right{}
.mjreE_right h1{
    padding-bottom: 5px;
    margin: 0;
    font-size: 22px;
    color: #30cdc1;
    font-weight: normal;
}
h1.mj-h1erro{
    color: #ff5a00;
}
.mjreE_right p{
    font-size: 12px;
    color: #333;
}
.mjreE_right p a{
    color: #4b9de7;
}
.mj-reEmall_bottom ul{
    padding: 40px 25px;
}
.mj-reEmall_bottom li{
    margin-bottom: 15px;
}
.mj-reEmall_bottom input{
    padding-left: 12px;
    width: 243px;
    height: 35px;
    border: solid 1px #abadb3;
    outline: none;
}
.mj-reEmall_bottom span{
    font-size: 12px;
    color: #333;
}
.mj-reEmall_bottom span a{
    color: #4b9de7;
}
.mj-reEmall_bottom li>a{
    display: block;
    width: 259px;
    height: 35px;
    background: #fc7d28;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
}
.mj-reE_Btext{}
.mj-reE_Btext span{
    position: relative;
    display: block;
    width: 347px;
    height: 1px;
    background: #ddd;
}
.mj-reE_Btext span i{
    position: absolute;
    top: -7px;
    left: 11px;
}
.mj-reE_Btext p{
    padding-top: 19px;
    font-size: 12px;
    color: #666;
}
.mj-reE_Btext p.mj-pdate{
    text-align: center;
    color: #333;
}
.mj-pdate>a{
    color: #4b9de7!important;
}
.mj-reE_Btext p a{
    color: #fc7d28;
}
.mj-mt35{
    margin-top: 35px;
}

#usrNameTip_popup .reg-tip{
	width:307px;
	border: 1px solid #ffddb2;
    background: #fff7e1;
    color: #e80b05;
	margin-bottom:10px;
	line-height:30px;
	display:block;
}
#usrNameTip_popup .reg-tip em{
	margin-left:35px;
}

.username_forget{
    width: 100px;
    height: 37px;
    line-height: 37px;
    color:#fff;
    background: #6FA3FF;
    border-radius:2px;
    outline:none;
    margin-left:10px;
    border: none;
    vertical-align: middle;
	display:none;
}
.mj-reCenter li input[type="password"]{
    padding-left: 12px;
    width: 293px;
    height: 35px;
    border: solid 1px #CCCCCC;
    border-radius:2px;
    outline: none;
}