<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.html">
<title>找回密码</title>
<!-- Bootstrap core CSS -->
<link href="<?=StaticDir?>workspace/css/bootstrap.min.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="<?=StaticDir?>workspace/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="<?=StaticDir?>workspace/css/style.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css/style-responsive.css" rel="stylesheet" />
<link href="<?=StaticDir?>workspace/css/tablestyle.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lte IE 8]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
<style type="text/css">
#steps2,#steps3,#steps4{
	display:none;
	
}	
</style>
</head>

<body>
<section id="container" class=""> 
  <!--header start-->
  <header class="header white-bg">
    <? require(ViewDir.'/lostpassword/header.html'); ?>
  </header>
  <!--header end--> 
  <!--main content start-->
  <section class="wrapper main" id="steps1">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div class="">
          <div class="phone-head"> 找回密码 </div>
          <div class="progressbar" style="width:460px;">
            <ul>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>填写账户名</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>验证身份</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>设置新密码</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>重置完成</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="progressbar-small">
            <div class="progressbar-small-head">
              <h4 class="float-left">当前状态:<span class="green">填写账户名</span></h4>
              <a class="float-right" data-toggle="modal" href="#progressbar-pic">></a> </div>
          </div>
          <div class="phone-form code-form" style="max-width:570px">
		  <div class="phone-center"  style="margin-left:20%;">
            <form>
            <input name="steps" type="hidden" value="2" class="steps">
              <p>账号/手机号码</p>
              <div class="row">
                <div class="col-xs-8" style="padding-right:0">
                  <input name="usertel" type="text" class="form-control" placeholder="" id="umobile">
                </div>
                <div class="col-xs-4">
                  <p class="red" id="red1" style="display:none;">账号格式错误</p>
                  <div class="icon5" style="display:none;"></div>
                </div>
              </div>
              <p>验证码</p>
              <div class="row">
                <div class="col-xs-8">
                  <div class="row">
                    <div class="col-xs-7" style="padding-right:0;">
                      <input name="code" type="text" class="form-control" id="ucode" placeholder="" maxlength="5">
                    </div>
                    <div class="col-xs-5" style="padding-right:0; ">
                    	<img  title="点击刷新" src="/authcode/" align="absbottom" onclick="this.src='/authcode/?'+Math.random();" height="30" id="authimgcode"></img>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <p class="red" id="red2" style="display:none;">请输入验证码</p>
                  <div class="icon5" style="display:none;"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8" style="padding-right:0">
                  <p>
                    <button  type="button" class="btn btn-success btn-block" id="loststeps1">确认提交</button>
                  </p>
                </div>
                <div class="col-xs-4"></div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </section>
  <!--main content end--> 
</section>
<!-- Modal -->
<div class="modal fade" id="progressbar-pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="progressbar-small">
          <ul>
            <li class="succeed">
              <i class="dian"></i>
              <span class="xian"></span>
              <div class="text">
                <p>填写账户名</p>
              </div>
            </li>
            <li class="fail">
              <i class="dian"></i>
              <span class="xian"></span>
              <div class="text">
                <p>验证身份</p>
              </div>
            </li>
            <li class="fail">
              <i class="dian"></i>
              <span class="xian"></span>
              <div class="text">
                <p>设置新密码</p>
              </div>
            </li>
            <li class="fail">
              <i class="dian"></i>
              <span class="xian"></span>
              <div class="text">
                <p>重置完成</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
	var ok1=false;
	var ok2=false;
	$('input[name="usertel"]').blur(function(){
		//var isMobile=/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; //手机号码验证规则
		var isMobile=/(^1[3|4|5|7|8][0-9]{9}$)/; //手机号码验证规则
		var phone 	= $('input[name="usertel"]').val();
		iszh		= getUserType(phone);
		if(phone.length == 0){
			$(this).parent(".col-xs-8").next(".col-xs-4").children(".red").html("请输入账号").show();
			$(this).parent(".col-xs-8").next(".col-xs-4").children(".icon5").hide();			
		}else{
			if(iszh==0){
				$(this).parent(".col-xs-8").next(".col-xs-4").children(".red").html("账号格式错误").show();
				$(this).parent(".col-xs-8").next(".col-xs-4").children(".icon5").hide();
			} else{
				$(this).parent(".col-xs-8").next(".col-xs-4").children(".red").hide();
				$(this).parent(".col-xs-8").next(".col-xs-4").children(".icon5").show();
				means.verifyUser(phone);
				ok1=true;
			}		
		}
	});
	// 验证验证码
	$('input[name="code"]').blur(function(){
		if($(this).val()!=''){
			$(this).parent(".col-xs-7").parent(".row").parent(".col-xs-8").next(".col-xs-4").children(".red").hide();
			//$(this).parent(".col-xs-7").parent(".row").parent(".col-xs-8").next(".col-xs-4").children(".icon5").show();
			ok2=true;
		}else{
			$(this).parent(".col-xs-7").parent(".row").parent(".col-xs-8").next(".col-xs-4").children(".red").show();
			$(this).parent(".col-xs-7").parent(".row").parent(".col-xs-8").next(".col-xs-4").children(".icon5").hide();
		}
	});
	//提交按钮,所有验证通过方可提交
	$('.submit').click(function(){
		if(ok1 && ok2){
			$('.form').submit();
		}else{
			return false;
		}
	});
});
</script>
</body>
</html>
