<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.html">
<title>找回密码2</title>

<!-- Bootstrap core CSS -->
<link href="<?=StaticDir?>workspace/css//bootstrap.min.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css//bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="<?=StaticDir?>workspace/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="<?=StaticDir?>workspace/css/style.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css/style-responsive.css" rel="stylesheet" />
<link href="<?=StaticDir?>workspace/css/tablestyle.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lte IE 8]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
</head>

<body>
<section id="container" class=""> 
  <!--header start-->
  <header class="header white-bg">
    <? require(ViewDir.'/lostpassword/header.html'); ?>
  </header>
  <!--header end--> 
  <!--main content start-->
  <section class="wrapper main">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div class="">
          <div class="phone-head"> <span class="float-left">找回密码</span> <span class="float-right"><a href="#">邮箱验证</a></span> </div>
          <div class="progressbar" style="width:460px;">
            <ul>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>填写账户名</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>验证身份</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>设置新密码</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>重置完成</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="progressbar-small">
            <div class="progressbar-small-head">
              <h4 class="float-left">当前状态:<span class="green">验证身份</span></h4>
              <a class="float-right" data-toggle="modal" href="#progressbar-pic"></a> </div>
          </div>
          <div class="phone-form code-form" style="min-width: 460px; padding:40px 60px;">
            <form>
            	<input name="steps" type="hidden" value="3" class="steps">
                  <p class="text-center" style="margin-bottom:10px; display:none" id="msgfang">已向你的<span class="actype
"></span><span class="red"><?=$enmobile?></span>发送验证码</p>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="text" class="form-control" placeholder="请输入验证码" maxlength="5">
                    </div>
                    <div class="col-xs-6"><a name="btnSendCode" class="btn btn-success btn-block" id="btnSendCode"  value="">点击获取验证码</a></div>
                  </div>
                  <div id="red2" style="color:#F00; display:none">请输入验证码</div>
                  <div>
                  <p>
                    <button type="button" class="btn btn-success btn-block submit" id="loststeps2">确认提交</button>
                  </p>
                  </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </section>
  <!--main content end--> 
</section>
<!-- Modal -->
<div class="modal fade" id="progressbar-pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="progressbar-small">
          <ul>
            <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>填写账户名</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>验证身份</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>设置新密码</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>重置完成</p>
                </div>
              </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<script>
/*
		var InterValObj; //timer变量，控制时间
		var count = 60; //间隔函数，1秒执行
		var curCount;//当前剩余秒数
		
		function sendMessage() {
		  　curCount = count;
		　　//设置button效果，开始计时
			 $("#btnSendCode").attr("class", "btn btn-default btn-block");
			 $("#btnSendCode").html("<span class='red'>"+curCount + "</span> 秒后可重新获取");
			 InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
		}
		
		//timer处理函数
		function SetRemainTime() {
            if (curCount == 0) {                
                window.clearInterval(InterValObj);//停止计时器
                $("#btnSendCode").attr("class", "btn btn-success btn-block");//启用按钮
                $("#btnSendCode").html("重新发送验证码");
            }
            else {
                curCount--;
                $("#btnSendCode").html("<span class='red'>"+curCount + "</span> 秒后可重新获取");
            }
        } */
</script>
</body>
</html>
