<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.html">
<title>找回密码3</title>

<!-- Bootstrap core CSS -->
<link href="<?=StaticDir?>workspace/css//bootstrap.min.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css//bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="<?=StaticDir?>workspace/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="<?=StaticDir?>workspace/css/style.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css/style-responsive.css" rel="stylesheet" />
<link href="<?=StaticDir?>workspace/css/tablestyle.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lte IE 8]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
</head>

<body>
<section id="container" class=""> 
  <!--header start-->
  <header class="header white-bg">
    <? require(ViewDir.'/lostpassword/header.html'); ?>
    <script language="javascript" src="<?=StaticDir?>script/register.js"></script>
  </header>
  <!--header end--> 
  <!--main content start-->
  <section class="wrapper main">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="">
          <div class="phone-head"> 找回密码 </div>
          <div class="progressbar" style="width:460px;">
            <ul>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>填写账户名</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>验证身份</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>设置新密码</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>重置完成</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="progressbar-small">
            <div class="progressbar-small-head">
              <h4 class="float-left">当前状态:<span class="green">设置新密码</span></h4>
              <a class="float-right" data-toggle="modal" href="#progressbar-pic">></a> </div>
          </div>
          <div class="phone-form code-form" style="max-width:570px">
            <form>
            <input name="steps" type="hidden" value="4" class="steps">
              <p>新密码</p>
              <div class="row">
                <div class="col-xs-8">
                  <input name="password" type="password" class="form-control" placeholder="">
                </div>
                <div class="col-xs-4">
                  <p class="red">6-20位数字、字母或符号</p>
                  <div class="icon5"></div>
                </div>
              </div>
              <p>确认密码</p>
              <div class="row">
                <div class="col-xs-8">
                  <input name="repass" type="password" class="form-control" placeholder="">
                </div>
                <div class="col-xs-4">
                  <p class="red">两次密码必须一致</p>
                  <div class="icon5"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <p>
                    <button type="submit" class="btn btn-success btn-block submit" id="loststeps3">确认提交</button>
                  </p>
                </div>
                <div class="col-xs-4"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </section>
  <!--main content end--> 
</section>
<!-- Modal -->
<div class="modal fade" id="progressbar-pic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="progressbar-small">
          <ul>
            <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>填写账户名</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>验证身份</p>
                </div>
              </li>
              <li class="succeed">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>设置新密码</p>
                </div>
              </li>
              <li class="fail">
                <i class="dian"></i>
                <span class="xian"></span>
                <div class="text">
                  <p>重置完成</p>
                </div>
              </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
	var ok1 = false;
	var ok2 = false;
	$('input[name="password"]').focus(function(){
		submit_restore($(this));
	});
	$('input[name="repass"]').focus(function(){
		submit_restore($(this));
	});
	//验证密码
	$('input[name="password"]').blur(function(){
		msg1 		= verifyPwd($(this).val());
		issuccess 	= msg1 =="" ? 1 : 0;
		submit_password($(this),msg1,issuccess);
		ok1 		= msg1 =="" ? true : false;
	});
	//验证确认密码
	$('input[name="repass"]').blur(function(){
		rval	= $(this).val();
		pval 	= $('input[name="password"]').val();
		msg2 	= verifyPwd($(this).val());
		console.log(rval+"==="+pval);
		if( rval != pval ){
			issuccess 	= 0;
			msg2		= '两次密码不一样';
		}else{
			issuccess 	= msg2 =="" ? 1 : 0;
		}
		submit_password($(this),msg2,issuccess);
		ok2 	= msg2 =="" ? true : false;
	});	//提交按钮,所有验证通过方可提交
	$('.submit').click(function(){
		doLostcode3();
		return false;
	});
});
function submit_password(obj,msg,issuccess){
	if(issuccess){
		obj.parent(".col-xs-8").next(".col-xs-4").children(".red").hide();
		obj.parent(".col-xs-8").next(".col-xs-4").children(".icon5").show().html(msg);
	}else{
		obj.parent(".col-xs-8").next(".col-xs-4").children(".red").show().html(msg);
		obj.parent(".col-xs-8").next(".col-xs-4").children(".icon5").hide();
	}
}
function submit_restore(obj){
	obj.parent(".col-xs-8").next(".col-xs-4").children(".red").hide();
	obj.parent(".col-xs-8").next(".col-xs-4").children(".icon5").hide();
}
//修改密码回调
function uplostpasswordCallback(obj,account){
	if( obj.code == 1 ){
		steps = $('.steps').val();
		setSteps(steps,account);//开启第三步
	}else{
		submit_password($('input[name="password"]'),obj.msg,0);
	}	
}
function doLostcode3(){
	pval 	= $('input[name="password"]').val();
	rval 	= $('input[name="repass"]').val();
	if(pval && rval){
		if( rval != pval ){
			submit_password($('input[name="repass"]'),'两次密码不一样',0);
			return false;
		}else{
			umobile = getQueryString('mobile');
			means.uplostpassword(pval,rval,umobile);
		}
	}else{
		if(!pval){
			submit_password($('input[name="password"]'),'请输入密码',0);	
			return false;
		}
		if(!rval){
			submit_password($('input[name="repass"]'),'密码不能为空',0);	
			return false;
		}
	}
	return false;
}
</script>
</body>
</html>
