<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Mosaddek">
<meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<link rel="shortcut icon" href="img/favicon.html">
<title>找回密码4</title>

<!-- Bootstrap core CSS -->
<link href="<?=StaticDir?>workspace/css//bootstrap.min.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css//bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="<?=StaticDir?>workspace/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="<?=StaticDir?>workspace/css/style.css" rel="stylesheet">
<link href="<?=StaticDir?>workspace/css/style-responsive.css" rel="stylesheet" />
<link href="<?=StaticDir?>workspace/css/tablestyle.css" rel="stylesheet">
<!--[if lte IE 8]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
</head>

<body>
<section id="container" class=""> 
  <!--header start-->
  <header class="header white-bg">
    <? require(ViewDir.'/lostpassword/header.html'); ?>
  </header>
  <!--header end--> 
  <!--main content start-->
  <section class="wrapper main">
    <div class="password-success">
      <table>
        <tr>
          <td><img src="<?=StaticDir?>workspace/img/up_pwdcg.png" width="40px;" height="35px" /></td>
          <td><h4 class="green">密码设置成功！ </h4>
            <p>为了你的帐户安全，请注意保护好你的密码等信息！</p>
            <p>
              <button type="button" class="btn btn-primary">立即登录</button>
            </p></td>
        </tr>
      </table>
    </div>
  </section>
  <!--main content end--> 
</section>
<script language="javascript">
$(document).ready(function(e) {
    $('.btn-primary').click(function(){
		window.location = '/lostpassword/steps4/?mobile=<?=$mobile?>&success=1';	
	});
});
</script>


</body>
</html>
